@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&display=swap');

$input-pd:1.25rem; //20px
$icon-pd:3.75rem; //60px
$boder-radius:1.875rem; //30px
$theme-color: rgb(177 155 143/80%);

.account-container{height: 100vh; text-align: center; color:#fff; background: linear-gradient(339deg, rgba(24, 22, 19,0.8) 0%, rgb(226, 148, 117) 100%, rgb(107,82,69) 50%); font-family: 'Noto Sans Lepcha', sans-serif;

    .card{--bs-card-bg: inherit; width:100%; max-width:505px; border:none; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);
        .card-body{--bs-card-bg: inherit;      
            .card-title{font-size:3rem; font-weight:900;}
        }
    }
    
    form {
        .form-control{color:#fff; background-color:rgba(107,82, 69, 0.3); border-color:transparent; border-radius: $boder-radius; padding:$input-pd $input-pd $input-pd $icon-pd; margin-bottom:24px;
            &::placeholder{color:#fff;}
            &:focus{box-shadow:0 0 0 0.25rem $theme-color;}
        }
        i{position: absolute; top:50%; transform: translateY(-50%); left:$input-pd; font-size: 150%;}
        .form-check{text-align:left; padding-left: 2rem;
            span{display: inline-block; vertical-align: sub;}
        }
        .forgot{position: absolute; top:50%; transform: translateY(-50%); right:5%;}

        a:hover,a:active{color:$theme-color;}
    }    
    
    .btn-primary{background-color:transparent; border-color:rgb(177 155 143); border-radius: $boder-radius; padding:$input-pd; width:100%;
        &:active{--bs-btn-active-bg:#fff; border-color:transparent;  --bs-btn-active-color: rgb(107 82 69);}   
    }
    
}

