@mixin underline-effect($bg:red){
    &:hover::after{position:absolute; bottom:-5px; left:0%; content: ''; width:100%; height:2px; background-color:$bg; transition:0.2s; animation: hover-line 0.2s linear;}
}
@mixin dot-effect {position:relative;                   
    &:hover::before{position:absolute; top:-5px; left:47%; content: ''; width:4px; height:4px; background-color: red; transition:0.2s; border-radius: 50%;}
}
.adv-manager{
    .search-wrap{margin-bottom: 25px;}     
}
.sub-contents-wrap{
    .reset-btn-wrap{
        margin: 20px 0;
        .reset-btn-box{
            text-align: right;
            button{
                width: 92px;
                height: 36px;
                font-weight: 700;
                font-size: 80%;
                color: #fff;
                border-radius: 7px;
                background: #ce1922;
            }
        }
    }
    .custom-margin-box-1 {
        margin-top:20px
    }
    .media-advertiser{
        .filter_media_btn .media_account_icon{
            width: 16px;
            height:16px;
            margin-bottom: -2px; 
        }
        .filter_media_btn .media_account_name{
            padding-left: 0.5rem;
            width: 87%;
        }
        .filter_media_btn .facebook{
            background: url(/img/ico_facebook.png);
            background-size: cover;
        }
        .filter_media_btn .google{
            background: url(/img/ico_google.png);
            background-size: cover;
        }
        .filter_media_btn .kakao{
            background: url(/img/ico_kakao.png);
            background-size: cover;
        }
    }

    .btns-memo-style{
        button{
            &:hover{
                i.bi::before{animation:sidebarShake 0.3s infinite linear alternate;}
            }            
        }
    }

    .dataTables_wrapper{  
        .dt-buttons{z-index:1; text-align: left; margin-bottom:1rem;
            i.bi-list{color:$color-dark; transition:all 0.3s; font-size:150%;
                &:hover::before{animation:rotate-turn 0.3s infinite linear alternate;}
            }
        }
        .paging{padding-top:1.755em; position:sticky; bottom:0; background-color:#f7f7f7;}      

        .dataTables_length{margin-bottom:2rem;
            select{background-color:#fff; padding:0.2rem 1rem; border-radius:4px; border:1px dashed $color-dark;}
        }
    
        .dataTables_info{float:unset; position: absolute; right:0;  padding-top:1.755em; transition:all 0.5s; cursor:pointer;
            i.bi{color:$red; padding-right:6px; font-size:110%; display: inline-block; vertical-align: top;}
            > span{position:relative;
                &:hover{font-weight:900;
                }
                @include underline-effect($bg:#878787);
            }          
        }
    
        .dataTables_paginate{float:unset; text-align: center; padding-top:1.755em; padding-bottom:1.755em;
            .paginate_button{border:none; padding:0.25rem 0.5rem;
                &.disabled,
                &.disabled:hover{color:#aaa !important;}

                &:hover{color:$red !important; border:none; background:none; transition:0.2s;}
                &:not(.previous,.next,.current){@include dot-effect;
                    @include underline-effect;
                }
                &.current{
                    color:#fff !important; background-color:$red; border:none; padding:0.2rem 1rem; border-radius:4px;
                    &:hover{color:#fff !important; background-color:$red; border:none;}
                } 
                &:active{background:none; border:none;}
            }            
        }    

        table.dataTable{ 
            thead tr{
                th,td{text-align: center;}
                .sorting_asc:before,.sorting_desc:after{color:chartreuse; opacity:1;}  
            }   
            tbody tr{background-color:#fff;
                td{position: relative;}
            }    
            tfoot tr{
                th,td{text-align: center;}
            }         
            //여기
            textarea.consultation{padding:0px; width:100%; border:none; background:transparent;}
            select.data-del{padding:3px; border-radius:4px; font-size:98%; letter-spacing:-1px;}
            button.save{background-color:#009dff; color:#fff;  margin-top:0.25rem; padding:0.4rem 1rem; border-radius:4px;}
            button.delete{background-color:#000; color:#fff; margin-top:0.25rem; padding:0.4rem 1rem; border-radius:4px; transition:0.5s;   
                &:hover{box-shadow:inset 0 -3em 0 0 $red;}   
            }
    
            .media_box{
                i{display:inline-block; width:28px; height:28px;}
                .facebook{@include bg('ico_facebook.png', center, 0);}
                .kakao{@include bg('ico_kakao.png', center, 0);}
                .google{@include bg('ico_google.png', center, 0);} 
            }
            .codeBox{
                .codeBtn{
                    padding:0;
                    .bi-c-circle{
                    
                        font-size: 1.15rem;
                        &:hover{cursor: pointer;}
                    }
                }
                span{
                    margin-left: 5px;
                }
            }
            
            
            .mediaName{
                p{margin-bottom:0.5rem; text-align: left;}
                button{position: absolute !important; bottom: 0; right: 0;
                    i{font-size: 1.25rem;}
                }
                
            }
            .landing-box{
                > button{display: block; margin: 0 auto;}
            }
            select.form-select{font-size:0.75rem; background-position:right .25rem center; padding: .375rem 0.25rem .375rem .35rem;  background-size:10px 10px; position: absolute; top:44%; left:50%; transform: translate(-50%, -50%); width:88%;}
            button.btn-history{position: absolute; bottom: 0; right: 0;}

            .is_stop{color:red;}
        }
    }   
}

.db-manage-contaniner{
    .search-wrap{border-radius: 10px; overflow:auto;margin-bottom: 25px;}          

    .detail.minWd{flex-wrap: wrap; min-width:1000px;  
        .col{padding: 0; flex: 1 0 auto; cursor:pointer;
            &:hover, &.active{color:blue;}
            dt{font-size: 1rem;}
            &:hover,&.active{
                dd{font-weight:900;}
            }
        }        
    }
}

div.dt-button-collection{padding:0;    
    .export{display: none;}
    button{text-align: left; font-size:90%; padding:0.3rem 0 0.3rem 0rem; width:100%;         
        &:hover{font-weight: 900; background-color: var(--bs-gray-200);
            > span{text-indent: 1.5rem;
                i.bi::before{animation:sidebarShake 0.3s infinite linear alternate;}
            }            
        }
        span{display: block; padding:0.3rem 0 0.3rem 0.5rem; transition: all 0.4s;}
        span.dt-down-arrow{display:none;}
        &.active span{background-color: var(--bs-gray-300);
        } 
    } 
    .dt-btn-split-wrapper{ transition:0.2s; }
    .dt-btn-split-wrapper:active:not(.disabled) button{color:blue;}
    .dt-btn-split-wrapper.active:not(.disabled) button{background-color:transparent; color: red;
        &:hover{background-color:var(--bs-gray-200);}
        &.dt-btn-split-drop{background-color:transparent;}
    }
    h3{font-size: 1.25em !important;}
}

@media screen and (max-width: 767px){
    .sub-contents-wrap{
        .dataTables_wrapper{
            .dataTables_info{padding-top:0.4em;}
            .dataTables_paginate{padding-top:3em;}
        }
    }    
}

@include x-large{ //sub.scss
    .db-manage-contaniner{
        .search-wrap{
            .detail{
                .col{width:auto;
                    &:nth-child(n+5){margin-top:0;}
                }
            }
        }
    }   
}
@include small{
    .sub-contents-wrap.eventmanage-container{
        .dataTables_wrapper{
            .dataTables_length{text-align: left; margin-top: 4rem;}
        }
    }
}