div.dataTables_processing{z-index:1; padding-top:16px !important; background-color:rgba(255,255,255,.9);}
div.dataTables_processing>div:last-child>div{background-color:var(--bs-red) !important;}
.table-responsive{position:relative;}
.btns-memo-style{display:inline; width:auto; position:absolute; right:0; top:0; z-index:1;
    button.active{color:var(--bs-red);}
}
.custom-btn-collection>.dt-down-arrow {display:none;}
.table{
    .none{padding:50px 0; text-align:center;}
    .ico{display:inline-block; width:8px; height:8px; border-radius:50%;
        &.green{background:var(--bs-success);}
        &.red{background:var(--bs-danger);}
    }
    .nowrap{
        white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    }

    .badge-0{display:none;}
    td{
        .regi-form{float:right;}
        .memo-list{float:left; width:75%;}
        .btn-budget{margin:1.5rem auto 0; display: flex; justify-content: space-between; width:80%;
            button:hover{color: var(--bs-blue);}
        }
    }
}
.table-default{table-layout:fixed; min-width:1400px;
    --bs-table-hover-bg:#ffebeb;
    --bs-table-striped-bg:rgba(0, 0, 0, .03);
    font-size:0.813rem;
    thead{
        th{font-size:0.875rem; text-align:center; vertical-align:middle; line-height:1.4;
            &:not(:last-child){border-right:1px dashed #dfdfdf;}
        }
    }
    tbody{
        th{position:relative; padding:12px; font-weight:400; border-right:1px dashed #dfdfdf;}
        td{position:relative; padding:12px 8px; text-align:center; vertical-align:middle; word-break:break-word;
            &:not(:last-child){border-right:1px dashed #dfdfdf;}
        }
    }
    .btn-area{position:absolute; bottom:4px; left:0; width:100%; box-sizing:border-box; padding:0 0.4rem;
        .btn{
            &.btn-outline-secondary{background:#fff;}
            &:hover,
            &:focus{background:var(--bs-btn-hover-bg);}
        }
        .btn-reflesh,
        .btn-paper{width:20px; height:20px; overflow:hidden; padding:0; font-size:0.750rem; line-height:20px;}
        .btn-arrow{width:20px; height:20px; overflow:hidden; padding:0; font-size:1.125rem; line-height:20px; border-radius:50%;}
    }
}
.table-event{ min-width:1400px;
    thead{
        th{font-size:13px; text-align:center; vertical-align:middle; line-height:1.4;
            &:not(:last-child){border-right:1px dashed #dfdfdf;}
        }
    }
    td{padding:5px; font-size:13px; vertical-align:middle;}
    input[type="text"]{padding:5px; font-size:13px;}
    .r-border{border-right:1px dashed #dfdfdf;}
}
.table-data{text-align:center;
    th,
    td{padding:20px 10px;}
    thead{
        th{background:#f7f7f7;}
    }
}
.table-modal{font-size:13px; vertical-align:middle;
    thead{
        th{text-align:center; background:#f7f7f7;}
    }
    .btn{margin:0 0 0 10px; font-size:13px;}
}
.table-left-header{font-size:13px; vertical-align:middle;
    th{text-align:center; background:#f7f7f7;}
    td{
        input,
        select{font-size:13px;}
    }
    .btn{min-width:80px;}
    * + .btn{margin-left:10px;}
}
.table-sm{min-width:1000px;}

@include x-large{

}
@include large{

}
@include medium{
    .table-data{text-align:center;
        th,
        td{padding:10px;}
    }
}
@include small{

}