.table{table-layout:fixed; min-width:1400px;
    --bs-table-hover-bg:#ffebeb;
    --bs-table-striped-bg:rgba(0, 0, 0, .03);
    font-size:0.813rem;
    thead{
        th{font-size:0.875rem; text-align:center; vertical-align:middle; line-height:1.4;
            &:not(:last-child){border-right:1px dashed #dfdfdf;}
        }
    }
    tbody{
        th{position:relative; padding:12px; font-weight:400; border-right:1px dashed #dfdfdf;}
        td{position:relative; padding:12px; text-align:center; vertical-align:middle;
            &:not(:last-child){border-right:1px dashed #dfdfdf;}
        }
    }
    .btn-area{position:absolute; bottom:4px; left:0; width:100%; box-sizing:border-box; padding:0 0.4rem;
        .btn{
            &.btn-outline-secondary{background:#fff;}
            &:hover,
            &:focus{background:var(--bs-btn-hover-bg);}
        }
        .btn-reflesh,
        .btn-paper{width:20px; height:20px; overflow:hidden; padding:0; font-size:0.750rem; line-height:20px;}
        .btn-arrow{width:20px; height:20px; overflow:hidden; padding:0; font-size:1.125rem; line-height:20px; border-radius:50%;}
    }
}

@include x-large{

}
@include large{

}
@include medium{

}
@include small{
    
}