.contents-wrap,.ad-list{
	border:1px solid red;
}
.row{
	border:1px solid blue;
}
.summary {
	background-color: pink;
}
// .detail{
// 	border: 1px solid green;
// }
.ad-management{
	.title{display:flex; align-items:baseline;
		h1{font-size:24px; font-weight:700; margin: 0 10px 10px;}
	}
	
    .row{margin:0; text-align:left;}
    .row:not(:first-child){margin-top:24px;}
    .type{flex:1; margin-right:12px; padding:35px 48px; border:1px solid #d1d1d1; border-radius:$radius; background:#fff;}
    .btn-more{display:flex; align-items:center; justify-content:center; width:143px; color:#fff; border-radius:$radius; background:$color-dark;
        span{padding:30px 0 0; @include bg('ico_arrow.png', center, 0);}
    }
    .btn-primary{background:$color-primary;}
    .summary{display:flex; margin:0 0 24px;
        strong{min-width:210px; margin:0 45px 0 0; font-size:28px; font-weight:600; font-variation-settings:"wght" 600;}
        i{display:inline-block; width:28px; height:28px; margin:0 6px 0 0; vertical-align:top;}
        .facebook{@include bg('ico_facebook.png', center, 0);}
        .kakao{@include bg('ico_kakao.png', center, 0);}
        .google{@include bg('ico_google.png', center, 0);}
        dl{display:flex; align-items:center; margin:0 45px 0 0;}
        dt{margin:0 6px 0 0; font-size:16px;}
        dd{font-size:28px; font-weight:600; font-variation-settings:"wght" 600;}
        .percentage{
            dd{color:$color-primary;}
        }
    }
    
    .detail{display:flex;
        dl{box-sizing:border-box; margin:0 22px 0 0; padding:7px 10px; text-align:left; background:#f2f2f2;}
        dd{margin:8px 0 0; color:#929292;}
    }
}