@mixin text-overflow() {overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
$btn-xsm:120px;
$btn-sm:143px;
$btn-lg:179px;
$row-child:0;

.ad-management{
	.title{display:flex; align-items:baseline; text-align:left;
		h1{font-size:24px; font-weight:700; margin: 0 10px 10px;}
        p{font-size:13px;}
	}
	
    .row{margin:0;}
    .row:not(:first-child){margin-top:24px;}

    .type{flex:1;  border:1px solid #d1d1d1; border-radius:$radius $radius 0 0; background:#fff; padding:$row-child;}

    .search {
        .form-control{border-radius: 30px;
        &::placeholder{font-size:90%;}}
        .btn-primary{background:$color-primary; border-color:transparent; width:$btn-sm;}
    }
    .btn-more{display:flex; align-items:center; justify-content:center; width:143px; color:#fff; border-radius:$radius; background:$color-dark;
        span{padding:30px 0 0; @include bg('ico_arrow.png', center, 0);}
    }
    // .btn-primary{background:$color-primary;}

    .summary{display:flex; margin:0 0 24px; padding:35px 48px 0;

        strong{min-width:210px; margin:0 45px 0 0; font-size:28px; font-weight:600; font-variation-settings:"wght" 600;}
        i{display:inline-block; width:28px; height:28px; margin:0 6px 0 0; vertical-align:top;}
        .facebook{@include bg('ico_facebook.png', center, 0);}
        .kakao{@include bg('ico_kakao.png', center, 0);}
        .google{@include bg('ico_google.png', center, 0);}
        dl{display:flex; align-items:center; margin:0 45px 0 0;}
        dt{margin:0 6px 0 0; font-size:16px;}
        dd{font-size:28px; font-weight:600; font-variation-settings:"wght" 600;}
        .percentage{
            dd{color:$color-primary;}
        }
    }
    
    .detail{display:flex;  padding:22px 48px 22px; background-color:#e9e9e9; border-top:1px solid #d1d1d1;   
        dl{box-sizing:border-box; margin:0 22px 0 0; padding:7px 10px; text-align:center; }
        dd{margin:8px 0 0; color:#929292;}
    }
   
    .menu {
        .title {display:flex; align-items: center; padding:$row-child;}
        .btn-management{width:$btn-sm; background-color: #fff;
            color: #d1d1d1;  border-radius: 5px; border: 1px solid #d1d1d1; padding: 8px 0; margin: 14px 5px;
            
            &.active{color: $color-primary; border-color:$color-primary;}
            span{width:90%; margin:0 auto; display: block;  @include text-overflow();}
        }

        strong{text-align: left; margin-right:15px;}
        .line{display: block; flex:2; height:2px; background-color:#d1d1d1; }
        .check-circle{display: inline-block; width:20px; height:20px; border-radius: 50%; margin-right: 8px; background-color:$color-primary; position:relative;}
        
        &.advertiser {
            .btn-management {width:$btn-lg;}
        }
    }

    ul.nav-tabs {padding:0 0; margin-top:24px; border-bottom:0px; --bs-nav-tabs-border-color:#d1d1d1;
        li {flex:1; padding:$row-child; margin:0;
            button.nav-link{width:100%; padding:15px 0; color:#000; background-color: #d7d7d7; font-weight:normal;
            &.active{border-top:3px solid $color-primary; background-color:#fff !important; font-weight: 900;}
            }
            &:nth-child(odd){
                button.nav-link{background-color:#b9b9b9;}
            } //if문 작성, 두번째가 선택 될때, 배경색 변경
        }
    }

    .tab-content{padding:20px 15px 60px; background-color: #fff; border:1px solid #d1d1d1; border-width:0 1px 1px 1px;
        .btn-outline-primary{margin-right:7px;}
        .tab-pane{padding:40px 0; margin-top:24px;}
    }
    .btn-outline-primary{color: #2d2e34; border-color:$color-primary; border-radius: 30px; width:$btn-xsm; font-size:14px;
        span{width:98%; margin:0 auto; display: block; @include text-overflow();}
    }
}