/*reset style*/
body {
    padding:0;
    margin:0;
}
ol, ul{
    list-style:none;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}

.flex-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-container-wrap {       
    main {
        article{            
            .nav_bar {
                border-bottom: 1px solid #ccc;
            }
            
            .featured-card {
                .icon{

                }
                a {
                    text-decoration: underline;
                    display: inline-block;
    
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 0.4rem;
                    }
                }
            }
    
            .heading-card {
                .card-containner {                   
                    @extend .flex-layout;
                    align-items:start;

                    .icon {
                        padding:2%;
                        border-radius: 10px; 
                        background-color:#f8f9fa;

                        i {      
                            font-size:160%;                     
                            
                        }
                    }                   
                }
            }  

            .custom-card {   
                color: #fff;

                .card {
                    border-radius: 20px;
                    background: url(file:///C:/Users/owner/Downloads/bootstrap-5.1.3-examples/bootstrap-5.1.3-examples/features/unsplash-photo-1.jpg) no-repeat 50%;
                }
            }
        }
        // 공통 css
        .underline {
            background-color: #ccc;
            box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
        }
        .card {       
            --bs-card-border-color:transparent; //부트스트랩 css 변수값 변경            
        } 
    }
}