/*reset style*/
body {
    padding:0;
    margin:0;  
}

ol, ul{
    list-style:none;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}

.flex-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    padding:4% 5%;
    
    .row {
        background-color: #fff;
    }
}

.features-container-wrap {       
    main {
        article{            
            .nav_bar {
                border-bottom: 1px solid #ccc;
            }
            
            .featured-card {
                .icon{

                }                
                a {
                    text-decoration: underline;
                    display: inline-block;
                    color: var(--bs-link-hover-color);
                    padding-top:5%;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 0.4rem;
                    }
                }
            }
    
            .heading-card {
                .card-containner {                   
                    @extend .flex-layout;
                    align-items:start;

                    .icon {
                        padding:2%;
                        border-radius: 10px; 
                        background-color:#f8f9fa;

                        i {      
                            font-size:200%;  
                        }
                    } 
                    
                    // button {
                    //     padding-top:4%;
                    // }
                }
            }  

            .custom-card {   
                color: #fff;
                display: flex;
                justify-content: space-between;

                .card {                  
                    border-radius: 20px;
                    background: black;                   
                    text-align: center;
                    width: 32%;
                    flex-direction: column;

                    h1{
                        font-weight: 900;
                        font-size:2.5rem;
                        margin: 100px auto 100px;
                        line-height: 1.3;
                    }

                    ul.icon {   
                        display: flex;
                        width:70%;
                        margin:0 auto;

                        li {                            
                            i{ 
                                width:30px;
                                height: 30px;
                                display: block;    
                            }
                            &:nth-of-type(1) {
                                flex:2;
                                i{                                  
                                    background:url(https://avatars.githubusercontent.com/u/2918581?v=4);
                                    background-size:contain;   
                                }
                            }
                        }
                    }
                }
            }

            .icon_grid {
                .card-containner {                   
                    @extend .flex-layout;
                    align-items:start;

                    .icon {
                        padding:2%;

                        i {      
                            font-size:200%;  
                        }
                    } 
                }
            }  
        }
        // 공통 css
        .underline {
            background-color: #ccc;
            box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
        }
        .card {       
            --bs-card-border-color:transparent; //부트스트랩 css 변수값 변경        
            h2 {
                font-size:35px;
                padding:4% 0;
            }    

            h3 {
                font-size:25px;
            }
        } 
    }
}