@font-face {
    font-family:'NanumSquareNeo';
    src:url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight:normal;
    font-style:normal;    
}

//default layout
html, body{height:100%;}
body{margin:0; padding:0; font-family:$font; font-size:$size-base; font-weight:400; font-variation-settings:"wght" 400; line-height:1.2; color:$color-dark;}
a{color:inherit; text-decoration:none;}
hr, caption, legend{display:none;}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:300; line-height:1.2;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, img{margin:0; padding:0; border:0;}
ul, ol, li{list-style:none;}
table{clear:both; width:100%; border-spacing:0; border:0;}
p, div, th, td{font-size:100%;}
dfn, address{font-style:normal;}
img, input, select, textarea{vertical-align:middle;}
input, select, button{font-family:$font; font-size:100%;}
textarea{font-family:$font; font-size:100%; resize:none; border-radius:0; appearance:none;}
input[type="submit"], button{cursor:pointer;}
button{color: inherit; border:0; background:none;}
button::-moz-focus-inner{padding:0; border:0;}
input::-ms-clear, input::-ms-reveal{display:none;}
input{outline: none;}
textarea{box-sizing:border-box; padding: 20px; color: #222; border:1px solid #ddd;}
textarea:focus{border: 1px solid #222; outline: none;}
select{appearance:none;}
select:focus{outline:none;}
select::-ms-expand{display:none;}