/*css/common.css compile*/
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&display=swap");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bootstrap-icons";
  src: url("/fonts/bootstrap-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.2;
  color: #2d2e34;
}

a {
  color: inherit;
  text-decoration: none;
}

hr, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, figure, figcaption, img {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol, li {
  list-style: none;
}

p, div, th, td {
  font-size: 100%;
}

dfn, address {
  font-style: normal;
}

img, input, select, textarea {
  vertical-align: middle;
}

input, select, button {
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 100%;
}

textarea {
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 100%;
  resize: none;
  border-radius: 0;
  appearance: none;
}

input[type=submit], button {
  cursor: pointer;
}

button {
  color: inherit;
  border: 0;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input {
  outline: none;
}

textarea {
  box-sizing: border-box;
  padding: 20px;
  color: #222;
  border: 1px solid #ddd;
}

textarea:focus {
  border: 1px solid #222;
  outline: none;
}

select {
  appearance: none;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 14px;
  }
}
body {
  background: #f7f7f7;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  box-sizing: border-box;
  padding: 42px 0;
  border-radius: 0 0 40px 0;
  background: #2d2e34;
}
.left-side .btn-menu {
  display: none;
}
.left-side .logo {
  margin: 0 auto 40px;
}

.nav-wrap {
  flex: 1;
  overflow: auto;
}
.nav-wrap::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.nav-wrap::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #aaa;
}
.nav-wrap .nav > li {
  position: relative;
  padding: 15px 0 0 10px;
  font-size: 1.063rem;
  transition: all 0.2s;
}
.nav-wrap .nav > li:not(:last-child) {
  margin: 0 0 30px;
}
.nav-wrap .nav > li:has(div):after {
  position: absolute;
  top: 16px;
  right: 30px;
  width: 10px;
  height: 10px;
  content: "";
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
.nav-wrap .nav > li:has([aria-expanded=true]) {
  background: #fff;
}
.nav-wrap .nav > li:has([aria-expanded=true]):before {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  content: "";
  background: #ce1922;
}
.nav-wrap .nav > li:has([aria-expanded=true]):after {
  top: 20px;
  border-color: #2d2e34;
  transform: rotate(225deg);
}
.nav-wrap .nav > li:has([aria-expanded=true]) button {
  color: #2d2e34;
}
.nav-wrap .nav > li:has([aria-expanded=true]) button[aria-expanded=true] {
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.nav-wrap .nav button {
  display: block;
  padding: 0 0 0 33px;
  color: #fff;
}
.nav-wrap .nav button > i.bi {
  margin: 0 10px 0 -37px;
  font-size: 180%;
  vertical-align: middle;
}
.nav-wrap .nav .btn-toggle-nav {
  padding: 18px 0 0;
}
.nav-wrap .nav .btn-toggle-nav li {
  margin: 0 0 12px 32px;
}
.nav-wrap .nav .btn-toggle-nav a {
  position: relative;
  display: inline-block;
  padding: 0 0 2px 10px;
  font-size: 0.875rem;
  color: #929292;
}
.nav-wrap .nav .btn-toggle-nav .active {
  color: #ce1922;
  border-bottom: 2px solid #e58489;
}
.nav-wrap .nav .btn-toggle-nav .active:before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  content: "";
  border-radius: 50%;
  background: #ce1922;
}

.util-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 38px;
  padding: 20px 0 0;
}
.util-nav a {
  font-size: 0.813rem;
  color: #aaa;
}

.main-contents-wrap {
  flex: 1;
  padding: 80px 6.7708vw;
}

.ad-list .row {
  text-align: left;
}
.ad-list .row:not(:first-child) {
  margin-top: 24px;
}
.ad-list .type {
  flex: 1;
  margin-right: 12px;
  padding: 1.8229vw 2.5vw;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background: #fff;
}
.ad-list .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  color: #fff;
  border-radius: 10px;
  background: #2d2e34;
}
.ad-list .btn-more span {
  padding: 30px 0 0;
  background: url("/img/ico_arrow.png") no-repeat center 0;
}
.ad-list .btn-primary {
  background: #ce1922;
}
.ad-list .summary {
  display: flex;
  margin: 0 0 24px;
}
.ad-list .summary strong {
  min-width: 210px;
  margin: 0 45px 0 0;
  font-size: 1.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-list .summary i {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px 0 0;
  vertical-align: top;
}
.ad-list .summary .facebook {
  background: url("/img/ico_facebook.png") no-repeat center 0;
}
.ad-list .summary .kakao {
  background: url("/img/ico_kakao.png") no-repeat center 0;
}
.ad-list .summary .google {
  background: url("/img/ico_google.png") no-repeat center 0;
}
.ad-list .summary dl {
  display: flex;
  align-items: center;
  margin: 0 45px 0 0;
}
.ad-list .summary dt {
  margin: 0 6px 0 0;
  font-size: 1rem;
}
.ad-list .summary dd {
  font-size: 1.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-list .summary .percentage dd {
  color: #ce1922;
}
.ad-list .detail dl {
  box-sizing: border-box;
  margin: 0 22px 0 0;
  padding: 7px 10px;
  text-align: left;
  background: #f2f2f2;
}
.ad-list .detail dd {
  margin: 8px 0 0;
  color: #929292;
}

@media screen and (max-width: 1400px) {
  .main-contents-wrap {
    padding: 30px;
  }
  .ad-list .type {
    padding: 20px;
  }
  .ad-detail-info {
    flex-wrap: wrap;
  }
  .ad-detail-info .col {
    flex: 0 0 auto;
    width: 25%;
  }
  .ad-detail-info .col:nth-child(n+5) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .ad-list .row {
    position: relative;
  }
  .ad-list .summary {
    flex-wrap: wrap;
  }
  .ad-list .summary strong {
    width: 100%;
    margin: 0 0 10px;
  }
  .ad-list .btn-more {
    position: absolute;
    top: 15px;
    right: 20px;
    width: auto;
    color: #2d2e34;
    background: none;
  }
  .ad-list .btn-more span {
    padding: 0;
    background: none;
  }
}
@media screen and (max-width: 1024px) {
  .wrap {
    min-width: 580px;
  }
  .main-contents-wrap {
    padding: 30px 30px 30px 70px;
  }
  .left-side {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
    border-radius: 0;
    transition: all 0.2s;
  }
  .left-side .logo {
    margin: 0 0 20px 45px;
  }
  .left-side.open {
    width: 240px;
  }
  .left-side .btn-menu {
    position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
    border-top: 2px solid #fff;
  }
  .left-side .btn-menu:before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #fff;
  }
  .left-side .btn-menu:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #fff;
  }
  .nav-wrap {
    width: 240px;
  }
  .nav-wrap .nav > li:not(:last-child) {
    margin: 0 0 10px;
  }
  .nav-wrap .nav button {
    display: block;
    padding: 0 0 0 33px;
    color: #fff;
  }
  .util-nav {
    width: 156px;
  }
  .ad-list .type {
    margin: 0;
  }
}
.sub-contents-wrap {
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding: 80px 4.4271vw;
}

.title-area {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
.title-area .page-title {
  font-size: 1.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.title-area .title-disc {
  margin: 0 0 0 15px;
}

.content-title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 18px;
  font-size: 1.25rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.content-title:after {
  flex: 1;
  width: 100%;
  height: 2px;
  margin: 0 0 0 12px;
  content: "";
  background: #dbdbdb;
}
.content-title .bi {
  width: 19px;
  height: 19px;
  margin: 0 8px 0 0;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #ce1922;
}
.content-title .bi:before {
  line-height: 19px;
}
.content-title.toggle {
  cursor: pointer;
}
.content-title.folded + div {
  display: none;
}
.content-title.folded .bi:before {
  transform: rotate(180deg);
}

.search-wrap {
  overflow: hidden;
  margin: 0 0 50px;
  border: 1px solid #c3c3c3;
  border-radius: 10px 10px 0 0;
}
.search-wrap .search {
  padding: 35px 10.4167vw;
  text-align: center;
  background: #fff;
}
.search-wrap .search .term {
  flex: 1;
  height: 50px;
  padding: 0 25px;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}
.search-wrap .search .term input[type=text] {
  flex: 1;
  width: 100%;
  border: 0;
}
.search-wrap .search .term span {
  margin: 0 20px;
}
.search-wrap .search .term button {
  width: 28px;
  color: #ce1922;
}
.search-wrap .search .input {
  flex: 1;
  display: flex;
}
.search-wrap .search .input input[type=text] {
  flex: 1;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  padding: 0 15px 0 45px;
  border: 1px solid #929292;
  border-radius: 25px;
  background: url("/img/search.svg") no-repeat 24px center;
}
.search-wrap .search .input .btn-primary {
  width: 115px;
  height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
  background: #ce1922;
}
.search-wrap .search .input .btn-special {
  width: 115px;
  height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
  background: var(--bs-blue);
}
.search-wrap .search * + .input {
  margin: 0 0 0 20px;
}
.search-wrap .detail {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #c3c3c3;
  background: #e9e9e9;
}
.search-wrap .detail .col {
  flex: 0 0 auto;
  width: auto;
  padding: 0 30px;
  color: #929292;
  font-weight: 500;
}
.search-wrap .detail .col dt {
  margin: 0 0 5px;
  font-size: 1.125rem;
  color: #2d2e34;
}
.search-wrap select {
  width: 20%;
  height: 50px;
  margin: 0 0 0 20px;
}

.regi-wrap {
  margin: 0 0 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #c3c3c3;
  background: #fff;
}
.regi-wrap input {
  padding: 0.375rem 0.5rem;
  font-size: 13px;
}
.regi-wrap input:not(:first-child) {
  margin: 0 0 0 5px;
}
.regi-wrap .btn {
  min-width: 100px;
  font-size: 13px;
}

.half .search-wrap {
  margin: 0 0 30px;
}
.half .search-wrap .search {
  padding: 35px 20px;
}
.half .table-default {
  min-width: 600px;
}

.section + .section {
  margin: 50px 0 0;
}

.client-list .row {
  --bs-gutter-x:8px;
}
.client-list .row .col {
  flex: 0 0 auto;
  width: 16.6666666667%;
  margin: 0 0 8px;
}
.client-list .row .col .inner {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
}
.client-list .row .col .inner.active {
  color: #ce1922;
  border-color: #ce1922;
}
.client-list .row .col button {
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  text-align: left;
  line-height: 1.4;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #fff;
}
.client-list .row .col button.active {
  color: #ce1922;
  border-color: #ce1922;
}
.client-list .row .col button.alert {
  margin: 0;
}
.client-list .row .col button.alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}
.client-list .row .col .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  overflow: visible;
  border-radius: 0;
  background: none;
}
.client-list .row .col .progress .progress-bar {
  height: 3px;
  background: #ffa500;
}
.client-list .row .col .progress .txt {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 0.5rem;
}
.client-list.biz .row .col {
  width: 160px;
}

.tab-wrap {
  margin: 60px 0 0;
}

.nav-tabs > li {
  flex: 1;
  margin: 0;
  padding: 0;
}
.nav-tabs .nav-link {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  font-size: 1.25rem;
  color: #2d2e34;
  border: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #d7d7d7;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:active {
  border: 0;
}
.nav-tabs .nav-link.active {
  padding: 19px 0 20px;
  border: 1px solid #d7d7d7;
  border-bottom: 0;
}
.nav-tabs .nav-link.active:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}

.tab-content {
  position: relative;
  padding: 16px 24px 50px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #dbdbdb;
  border-top: 0;
  background: #fff;
}
.tab-content .btn-wrap {
  margin: 0 0 12px;
}
.tab-content .btn-wrap .btn {
  height: 27px;
  padding: 0 15px;
  font-size: 0.813rem;
  color: #2d2e34;
  line-height: 27px;
  border-radius: 14px;
}
.tab-content .btn-wrap .btn:hover, .tab-content .btn-wrap .btn.active {
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .sub-contents-wrap {
    padding: 30px;
  }
  .title-area {
    flex-wrap: wrap;
  }
  .title-area .title-disc {
    width: 100%;
    margin: 10px 0 0;
  }
  .search-wrap .search {
    padding: 35px 30px;
  }
  .search-wrap .detail {
    flex-wrap: wrap;
  }
  .search-wrap .detail .col {
    flex: 0 0 auto;
    width: 25%;
  }
  .search-wrap .detail .col:nth-child(n+5) {
    margin-top: 15px;
  }
  .half + .half {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .client-list .row {
    flex-wrap: wrap;
  }
  .client-list .row .col {
    width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  .sub-contents-wrap {
    padding: 30px 30px 30px 70px;
  }
  .search-wrap {
    margin: 0 0 20px;
  }
  .search-wrap .search {
    flex-wrap: wrap;
    padding: 20px;
  }
  .search-wrap .search .term {
    flex: 0 0 auto;
    width: 100%;
    height: 40px;
  }
  .search-wrap .search .input {
    flex: 0 0 auto;
    width: 100%;
    margin: 20px 0 0;
  }
  .search-wrap .search .input:first-child {
    margin: 0;
  }
  .search-wrap .search .input input[type=text] {
    height: 40px;
  }
  .search-wrap .search .input .btn-primary {
    width: 80px;
    height: 40px;
  }
  .search-wrap .search .input .btn-special {
    width: 80px;
    height: 40px;
  }
  .search-wrap .search select + .input {
    width: 78%;
  }
  .search-wrap .detail {
    padding: 15px 0;
  }
  .search-wrap .detail .col dt {
    font-size: 1rem;
  }
  .search-wrap select {
    height: 40px;
    margin: 20px 2% 0 0;
  }
  .half .search-wrap {
    margin: 0 0 20px;
  }
  .half .search-wrap .search {
    padding: 20px;
  }
  .half .table-default {
    min-width: 800px;
  }
  .nav-tabs .nav-link {
    padding: 10px 0;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:active {
    border: 0;
  }
  .nav-tabs .nav-link.active {
    padding: 9px 0 10px;
    border: 1px solid #d7d7d7;
    border-bottom: 0;
  }
  .nav-tabs .nav-link.active:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #ce1922;
  }
}
.table .none {
  padding: 50px 0;
  text-align: center;
}
.table .ico {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.table .ico.green {
  background: var(--bs-success);
}
.table .ico.red {
  background: var(--bs-danger);
}
.table-default {
  table-layout: fixed;
  min-width: 1400px;
  --bs-table-hover-bg:#ffebeb;
  --bs-table-striped-bg:rgba(0, 0, 0, .03);
  font-size: 0.813rem;
}
.table-default thead th {
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
}
.table-default thead th:not(:last-child) {
  border-right: 1px dashed #dfdfdf;
}
.table-default tbody th {
  position: relative;
  padding: 12px;
  font-weight: 400;
  border-right: 1px dashed #dfdfdf;
}
.table-default tbody td {
  position: relative;
  padding: 12px 8px;
  text-align: center;
  vertical-align: middle;
}
.table-default tbody td:not(:last-child) {
  border-right: 1px dashed #dfdfdf;
}
.table-default .btn-area {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
}
.table-default .btn-area .btn.btn-outline-secondary {
  background: #fff;
}
.table-default .btn-area .btn:hover, .table-default .btn-area .btn:focus {
  background: var(--bs-btn-hover-bg);
}
.table-default .btn-area .btn-reflesh,
.table-default .btn-area .btn-paper {
  width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 0;
  font-size: 0.75rem;
  line-height: 20px;
}
.table-default .btn-area .btn-arrow {
  width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 0;
  font-size: 1.125rem;
  line-height: 20px;
  border-radius: 50%;
}

.table-event {
  min-width: 1400px;
}
.table-event thead th {
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
}
.table-event thead th:not(:last-child) {
  border-right: 1px dashed #dfdfdf;
}
.table-event td {
  padding: 5px;
  font-size: 13px;
  vertical-align: middle;
}
.table-event input[type=text] {
  padding: 5px;
  font-size: 13px;
}
.table-event .r-border {
  border-right: 1px dashed #dfdfdf;
}

.table-data {
  text-align: center;
}
.table-data th,
.table-data td {
  padding: 20px 10px;
}
.table-data thead th {
  background: #f7f7f7;
}

.table-modal {
  font-size: 13px;
  vertical-align: middle;
}
.table-modal thead th {
  text-align: center;
  background: #f7f7f7;
}
.table-modal .btn {
  margin: 0 0 0 10px;
  font-size: 13px;
}

.table-left-header {
  font-size: 13px;
  vertical-align: middle;
}
.table-left-header th {
  text-align: center;
  background: #f7f7f7;
}
.table-left-header td input,
.table-left-header td select {
  font-size: 13px;
}
.table-left-header .btn {
  min-width: 80px;
}
.table-left-header * + .btn {
  margin-left: 10px;
}

.table-sm {
  min-width: 1000px;
}

@media screen and (max-width: 1024px) {
  .table-data {
    text-align: center;
  }
  .table-data th,
  .table-data td {
    padding: 10px;
  }
}
.modal {
  --bs-modal-header-padding:30px 30px 15px;
  --bs-modal-padding:15px 30px 30px;
}
.modal .modal-dialog {
  --bs-modal-width:620px;
}
.modal .modal-lg {
  --bs-modal-width:895px;
}
.modal.fade .modal-dialog {
  transform: translate(50px, 0);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal .modal-header {
  border-bottom: 0;
}
.modal .modal-header .modal-title {
  font-size: 1.625rem;
  border-bottom: 2px solid #ce1922;
}
.modal .modal-header .modal-title .bi {
  font-size: 22px;
}
.modal .modal-body .body-title {
  margin: 0 0 15px;
  font-size: 20px;
}
.modal .modal-body textarea {
  width: 100%;
  height: 95px;
  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background: #f7f7f7;
}
.modal .modal-body > .d-flex:has(button) {
  margin: 0 0 15px;
}
.modal .modal-body > .d-flex .body-title {
  margin: 0;
}
.modal .modal-body > .d-flex form {
  min-width: 300px;
}
.modal .modal-footer {
  padding: 0 30px 30px;
  border: 0;
}
.modal .sm-txt .modal-header {
  border-bottom: 0;
}
.modal .sm-txt .modal-header .modal-title {
  font-size: 18px;
  border-bottom: 2px solid #ce1922;
}
.modal .sm-txt .modal-header .modal-title .bi {
  font-size: 15px;
}

.sorting {
  margin: 0 0 20px;
}
.sorting button {
  width: 135px;
  height: 40px;
  margin: 0 8px 0 0;
  font-size: 20px;
  text-align: center;
  border: 1px solid #2d2e34;
  border-radius: 20px;
}
.sorting button.active {
  color: #fff;
  background: #2d2e34;
}
.sorting .term {
  color: var(--bs-gray);
}

.regi-form fieldset {
  display: flex;
}
.regi-form fieldset .btn-regi {
  width: 90px;
  margin: 0 0 0 5px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #2d2e34;
}

.memo-list {
  font-size: 13px;
}
.memo-list li {
  padding: 10px 0;
}
.memo-list li:not(:last-child) {
  border-bottom: 2px dashed #dfdfdf;
}
.memo-list li .info {
  min-width: 200px;
  text-align: right;
}

.ad-status {
  margin: 0 0 15px;
  padding: 6px 0;
  text-align: center;
  background: #f7f7f7;
}

.status-type {
  padding: 0 0.7813vw;
  font-size: 15px;
}
.status-type li {
  position: relative;
  padding: 0 0 0 12px;
}
.status-type li:not(first-child) {
  margin: 10px 0 0;
}
.status-type li:before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 50%;
  background: #ce1922;
}
.status-type li .info {
  font-size: 13px;
}
.status-type li .info span {
  margin: 0 0 0 5px;
}

.approval {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 10px;
}
.approval li {
  width: 100px;
  margin: 0 0 0 -1px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #dee2e6;
}
.approval span {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #dee2e6;
  background: #f7f7f7;
}
.approval div {
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .modal {
    --bs-modal-header-padding:20px 20px 10px;
    --bs-modal-padding:20px;
  }
  .modal .modal-body .body-title {
    font-size: 16px;
  }
  .sorting {
    margin: 0 0 20px;
  }
  .sorting button {
    width: auto;
    height: 32px;
    margin: 0 4px 0 0;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 16px;
  }
  .sorting .term {
    font-size: 12px;
  }
  .table-data,
  .table-modal {
    min-width: 800px;
  }
}
.ad-management .title {
  display: flex;
  align-items: baseline;
  text-align: left;
}
.ad-management .title h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 10px 10px;
}
.ad-management .title p {
  font-size: 13px;
}
.ad-management .row {
  margin: 0;
}
.ad-management .row:not(:first-child) {
  margin-top: 24px;
}
.ad-management .type {
  flex: 1;
  border: 1px solid #d1d1d1;
  border-radius: 10px 10px 0 0;
  background: #fff;
  padding: 0;
}
.ad-management .search .form-control {
  border-radius: 30px;
}
.ad-management .search .form-control::placeholder {
  font-size: 90%;
}
.ad-management .search .btn-primary {
  background: #ce1922;
  border-color: transparent;
  width: 143px;
}
.ad-management .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  color: #fff;
  border-radius: 10px;
  background: #2d2e34;
}
.ad-management .btn-more span {
  padding: 30px 0 0;
  background: url("/img/ico_arrow.png") no-repeat center 0;
}
.ad-management .summary {
  display: flex;
  margin: 0 0 24px;
  padding: 35px 48px 0;
}
.ad-management .summary strong {
  min-width: 210px;
  margin: 0 45px 0 0;
  font-size: 28px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-management .summary i {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px 0 0;
  vertical-align: top;
}
.ad-management .summary dl {
  display: flex;
  align-items: center;
  margin: 0 45px 0 0;
}
.ad-management .summary dt {
  margin: 0 6px 0 0;
  font-size: 16px;
}
.ad-management .summary dd {
  font-size: 28px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-management .summary .percentage dd {
  color: #ce1922;
}
.ad-management .detail {
  display: flex;
  padding: 22px 48px 22px;
  background-color: #e9e9e9;
  border-top: 1px solid #d1d1d1;
}
.ad-management .detail dl {
  box-sizing: border-box;
  margin: 0 22px 0 0;
  padding: 7px 10px;
  text-align: center;
}
.ad-management .detail dd {
  margin: 8px 0 0;
  color: #929292;
}
.ad-management .menu .title {
  display: flex;
  align-items: center;
  padding: 0;
}
.ad-management .menu .btn-management {
  width: 143px;
  background-color: #fff;
  color: #d1d1d1;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  padding: 8px 0;
  margin: 14px 5px;
}
.ad-management .menu .btn-management.active {
  color: #ce1922;
  border-color: #ce1922;
}
.ad-management .menu .btn-management span {
  width: 90%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ad-management .menu strong {
  text-align: left;
  margin-right: 15px;
}
.ad-management .menu .line {
  display: block;
  flex: 2;
  height: 2px;
  background-color: #d1d1d1;
}
.ad-management .menu .check-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #ce1922;
  position: relative;
}
.ad-management .menu.advertiser .btn-management {
  width: 179px;
}
.ad-management ul.nav-tabs {
  padding: 0 0;
  margin-top: 24px;
  border-bottom: 0px;
  --bs-nav-tabs-border-color:#d1d1d1;
}
.ad-management ul.nav-tabs li {
  flex: 1;
  padding: 0;
  margin: 0;
}
.ad-management ul.nav-tabs li button.nav-link {
  width: 100%;
  padding: 15px 0;
  color: #000;
  background-color: #d7d7d7;
  font-weight: normal;
}
.ad-management ul.nav-tabs li button.nav-link.active {
  border-top: 3px solid #ce1922;
  background-color: #fff !important;
  font-weight: 900;
}
.ad-management ul.nav-tabs li:nth-child(odd) button.nav-link {
  background-color: #b9b9b9;
}
.ad-management .tab-content {
  padding: 20px 15px 60px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-width: 0 1px 1px 1px;
}
.ad-management .tab-content .btn-outline-primary {
  margin-right: 7px;
}
.ad-management .tab-content .tab-pane {
  padding: 40px 0;
  margin-top: 24px;
}
.ad-management .btn-outline-primary {
  color: #2d2e34;
  border-color: #ce1922;
  border-radius: 30px;
  width: 120px;
  font-size: 14px;
}
.ad-management .btn-outline-primary span {
  width: 98%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-btn-wrap {
  text-align: center;
  border-top: 1px solid #c3c3c3;
  background: #e9e9e9;
  padding: 35px 10.4167vw;
}
.filter-btn-wrap .col:has(.btn-reset) {
  width: auto;
  padding: 0;
}
.filter-btn-wrap .col {
  flex: 0 0 auto;
  width: auto;
  padding: 0 30px;
  color: #929292;
  font-weight: 500;
}
.filter-btn-wrap .col dt {
  margin: 0 0 5px;
  font-size: 1.125rem;
  color: #2d2e34;
}
.filter-btn-wrap button.active {
  color: #ce1922;
  border-color: #ce1922;
}
.filter-btn-wrap button.alert {
  margin: 0;
}
.filter-btn-wrap button.alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}
.filter-btn-wrap .btn-primary {
  width: 115px;
  height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
  background: #ce1922;
}
.filter-btn-wrap .btn-reset {
  width: 115px;
  height: 52px;
  color: #fff;
  border-radius: 7px;
  background: #0d6efd;
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  text-align: left;
  line-height: 1.4;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #fff;
}
.form-control.active {
  color: #ce1922;
  border-color: #ce1922;
}
.form-control.alert {
  margin: 0;
}
.form-control.alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}

.table-content {
  position: relative;
  padding: 30px 24px 50px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  background: #fff;
}

.client-list span {
  display: inline-block;
  padding-left: 1rem;
}

.none {
  appearance: none;
}

@media screen and (max-width: 1400px) {
  .filter-btn-wrap {
    padding: 35px 30px;
  }
}
.container-user-management .form-control {
  cursor: pointer;
}
.container-user-management .table {
  min-width: 1000px;
}
.container-user-management .btn-wrap {
  margin: 0 0 12px;
  width: auto;
}
.container-user-management .btn-wrap .btn {
  height: 40px;
  padding: 0;
  width: 100px;
  font-size: 0.813rem;
  line-height: 40px;
  border-radius: 14px;
}
.container-user-management .btn-wrap .btn-danger {
  --bs-btn-bg:#fff;
  --bs-btn-color:#dc3545;
}
.container-user-management .btn-wrap .btn-danger.active {
  color: #fff;
}
.container-user-management .btn-wrap input {
  appearance: none;
}
.container-user-management .row.filter-btn-wrap {
  width: 100%;
  margin-left: 0;
}

.container-user-management .modal-header {
  font-size: 1.15rem;
  border-bottom: 0px;
}
.container-user-management .modal-header h5.modal-title {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 1%;
}
.container-user-management .modal-header h5.modal-title i {
  font-size: 130%;
  margin-right: 3px;
}
.container-user-management .modal-header h5.modal-title .bi-person-fill::before {
  display: block;
}
.container-user-management .modal-body {
  padding-bottom: 0;
}
.container-user-management .modal-body table {
  min-width: unset !important;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  text-align: center;
}
.container-user-management .modal-body table thead th {
  background-color: #f7f7f7;
  border: 1px solid #d5d5d5;
}
.container-user-management .modal-body table tbody td {
  border: 1px solid #d5d5d5;
}
.container-user-management .modal-footer {
  border-top: 0px;
}

.account-container {
  height: 100vh;
  text-align: center;
  color: #fff;
  background: linear-gradient(339deg, rgba(24, 22, 19, 0.8) 0%, rgb(226, 148, 117) 100%, rgb(107, 82, 69) 50%);
  font-family: "Noto Sans Lepcha", sans-serif;
}
.account-container .card {
  --bs-card-bg:inherit;
  width: 100%;
  max-width: 505px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.account-container .card .card-body {
  --bs-card-bg: inherit;
}
.account-container .card .card-body .card-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
.account-container form input.form-control {
  color: #fff;
  background-color: rgba(107, 82, 69, 0.3) !important;
  border-color: transparent;
  border-radius: 1.875rem;
  padding: 1.25rem 1.25rem 1.25rem 3.75rem;
  margin-bottom: 24px;
}
.account-container form input.form-control::placeholder {
  color: #fff;
}
.account-container form input.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(177, 155, 143, 0.8);
}
.account-container form input.form-control:-webkit-autofill, .account-container form input.form-control:-internal-autofill-selected {
  transition: background-color 5000s ease-in-out 0s;
  color: #fff;
  -webkit-text-fill-color: #fff;
}
.account-container form > div {
  transition: all linear 0.5s;
  transform: translateY(150%);
  visibility: hidden;
  transition: all linear 0.3s;
}
.account-container form > div.effect {
  transform: translateY(0%);
  visibility: visible;
}
.account-container form > div i {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 1.25rem;
  font-size: 1.5rem;
  width: 1.5rem;
}
.account-container form .form-check {
  text-align: left;
  padding-left: 2rem;
}
.account-container form .form-check span {
  display: inline-block;
  vertical-align: sub;
}
.account-container form .forgot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
.account-container form .forgot:hover {
  animation: flash 2s infinite;
}
.account-container form a:hover, .account-container form a:active {
  color: rgba(177, 155, 143, 0.8);
}
.account-container .btn-primary {
  background-color: transparent;
  border-color: rgb(177, 155, 143);
  border-radius: 1.875rem;
  padding: 1.25rem;
  width: 100%;
}
.account-container .btn-primary:active {
  --bs-btn-active-bg:#fff;
  --bs-btn-active-color: rgb(107 82 69);
  border-color: transparent;
}
.account-container .text-start {
  position: relative;
  transform: translateY(150%);
  visibility: hidden;
  transition: all linear 0.3s;
}
.account-container .text-start.effect {
  transform: translateY(0%);
  visibility: visible;
}

@keyframes flash {
  0%, 20%, 40%, to {
    opacity: 1;
  }
  10%, 30% {
    opacity: 0;
  }
}
@media screen and (max-width: 500px) {
  .account-container .card .card-body .card-title {
    margin-bottom: 2rem;
  }
  .account-container form {
    padding: 0 5%;
  }
  .account-container form > div i {
    top: 54%;
    font-size: 1.2rem;
  }
  .account-container form .forgot {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 415px) {
  .account-container form .form-control {
    padding: 0.93rem 0.93rem 0.93rem 3.125rem;
  }
  .account-container form .btn-primary {
    padding: 0.93rem;
  }
}
.account02-container {
  height: 100%;
  background-color: #f8f9fa;
  padding-bottom: 5%;
}
.account02-container .btn {
  border-radius: 30px;
  font-size: 0.8rem;
  margin: 2rem auto;
  cursor: pointer;
}
.account02-container .btn:hover {
  background-color: inherit;
  color: var(--bs-btn-color);
}
.account02-container .btn button {
  padding: 0.9vw 2.2vw;
  position: relative;
}
.account02-container .btn button .item {
  position: absolute;
  top: 3%;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-color: #5f91fb;
  border-radius: 50%;
}
.account02-container .card {
  width: 80%;
  max-width: 550px;
  border: none;
  padding: 8% 5% 5%;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 0 30px 30px 0;
  background: url("/img/login_bg.png") no-repeat 50%;
  background-size: cover;
}
.account02-container .card .card-body {
  --bs-card-bg: inherit;
}
.account02-container .card .card-body .card-title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 3rem;
  text-align: center;
  color: #5f91fb;
  letter-spacing: 4px;
}
.account02-container input:-internal-autofill-selected {
  background-color: transparent;
}
.account02-container form .form-control {
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #000;
  border-radius: 0px;
  padding: 0.93rem 0.75rem;
}
.account02-container form > div p {
  font-size: 0.9rem;
  padding: 0.75rem;
  font-weight: 800;
  color: #c1b9b9;
}
.account02-container form .btn-primary {
  width: 100%;
  margin: 4rem 0 2rem;
  padding: 15px 0;
  border-radius: 30px;
  background-color: #5f91fb;
}
.account02-container form .forgot {
  color: #5f91fb;
}

.account02-container.toggle::after {
  display: block;
  content: "";
  clear: both;
}
.account02-container.toggle .btn {
  float: right;
}
.account02-container.toggle .card {
  float: right;
  clear: both;
  box-shadow: 0px 1px 15px #ccc;
  border-radius: 30px 0 0 30px;
}

.drag-over {
  border: dashed 3px #fff;
}

.hide {
  display: none;
}

@media screen and (max-width: 500px) {
  .wrap:has(.account02-container) {
    min-width: unset;
  }
  .account02-container .btn button .item {
    width: 2rem;
    height: 2rem;
    left: -3%;
  }
  .account02-container .card {
    width: 85%;
  }
  .account02-container .card .card-body .card-title {
    margin-bottom: 2rem;
  }
  .account02-container form .btn-primary {
    margin: 3vw 0 2rem;
  }
}
@media screen and (max-width: 415px) {
  .account02-container .btn button .item {
    width: 1.8rem;
    height: 1.8rem;
  }
}

/*# sourceMappingURL=common.css.map */
