/*css/common.css compile*/
$breakpoint-desktop:1920px;
$breakpoint-tablet:1024px;
$breakpoint-lg-mobile:500px;
$breakpoint-md-mobile:415px;
$breakpoint-sm-mobile:300px;
$red:red;

@mixin tablet-1024{
    @media screen and (max-width : #{$breakpoint-tablet}){
        @content;
    }
}

@mixin mobile-500{
    @media screen and (max-width : #{$breakpoint-lg-mobile}){
        @content;
    }
}

@mixin mobile-415{
    @media screen and (max-width : #{$breakpoint-md-mobile}){
        $input-pd:0.93rem !global; //먹히지 않음
        $icon-pd:3.43rem !global;  //먹히지 않음
        @content;
    }
}
@mixin mobile-375{
    @media screen and (max-width : #{$breakpoint-sm-mobile}){
        @content;
    }
}


@import 'ui.scss';

@import "exam/_userManage.scss";//회원관리
@import "exam/_etc.scss";//기타 통합(사이트 맵)
@import "exam/_account.scss"; //my page
@import "exam/_pagenation.scss"; //통합 db관리 
@import "exam/_navBar.scss"; //nav bar.php 
@import "exam/_index.scss";//main page
@import "exam/_animaction.scss";//main page

@import "exam/practice/_agree.scss"; //개인정보 동의
@import "exam/practice/_login_exam.scss"; //로그인,회원가입 연습



