/*css/common.css compile*/
$breakpoint-desktop:1920px;
$breakpoint-tablet:1024px;
$breakpoint-lg-mobile:500px;
$breakpoint-md-mobile:415px;
$breakpoint-sm-mobile:300px;

@mixin tablet-1024{
    @media screen and (max-width : #{$breakpoint-tablet}){
        @content;
    }
}

@mixin mobile-500{
    @media screen and (max-width : #{$breakpoint-lg-mobile}){
        @content;
    }
}

@mixin mobile-415{
    @media screen and (max-width : #{$breakpoint-md-mobile}){
        $input-pd:0.93rem !global; //먹히지 않음
        $icon-pd:3.43rem !global;  //먹히지 않음
        @content;
    }
}
@mixin mobile-375{
    @media screen and (max-width : #{$breakpoint-sm-mobile}){
        @content;
    }
}


@import 'ui.scss';

@import "exam/_exam-zenith.scss";
@import "exam/_user.scss";
@import "exam/_modal.scss";

@import "_account.scss";

// .sub-contents-wrap{flex:1; height:100vh; overflow:auto; padding:80px 4.4271vw;}
// .title-area{display:flex; align-items:center; margin:0 0 20px;
//     .page-title{font-size:1.750rem; @include bold;}
//     .title-disc{margin:0 0 0 15px;}
// }
// .content-title{position:relative; display:flex; align-items:center; margin:0 0 18px; font-size:1.250rem; @include bold;
//     &:after{flex:1; width:100%; height:2px; margin:0 0 0 12px; content:''; background:#dbdbdb;}
//     .bi{width:19px; height:19px; margin:0 8px 0 0; font-size:0.750rem; text-align:center; color:#fff; border-radius:50%; background:$color-primary;
//         &:before{line-height:19px;}
//     }
//     &.toggle{cursor:pointer;}
//     &.folded{
//         + div{display:none;}
//         .bi{
//             &:before{transform:rotate(180deg);}
//         }
//     }
// }
// .search-wrap{overflow:hidden; margin:0 0 50px; border:1px solid #c3c3c3; border-radius:$radius $radius 0 0;
//     .search{padding:35px 10.4167vw; text-align:center; background:#fff;
//         .term{flex:1; height:50px; padding:0 25px; border-top:2px solid #e2e2e2; border-bottom:2px solid #e2e2e2;
//             input[type="text"]{flex:1; width:100%; border:0;}
//             span{margin:0 20px;}
//             button{width:28px; color:$color-primary;}
//         }
//         .input{flex:1; display:flex;
//             input[type="text"]{flex:1; width:100%; height:50px; box-sizing:border-box; margin:0 10px 0 0; padding:0 15px 0 45px; border:1px solid #929292; border-radius:25px; @include bg('search.svg', 24px, center);}
//             .btn-primary{width:115px; height:52px; font-weight:700; color:#fff; border-radius:7px; background:$color-primary;}
//             .btn-special{width:115px; height:52px; font-weight:700; color:#fff; border-radius:7px; background:var(--bs-blue);}
//         }
//         * + .input{margin:0 0 0 20px;}
//     }
//     .detail{padding:20px 0; text-align:center; border-top:1px solid #c3c3c3; background:#e9e9e9;
//         .col{flex:0 0 auto; width:auto; padding:0 30px; color:#929292; font-weight:500;
//             dt{margin:0 0 5px; font-size:1.125rem; color:$color-dark;}
//         }
//     }
//     select{width:20%; height:50px; margin:0 0 0 20px;}
// }
// .regi-wrap{margin:0 0 20px; padding:20px; text-align:center; border:1px solid #c3c3c3; background:#fff;
//     input{padding:.375rem .5rem; font-size:13px;
//         &:not(:first-child){margin:0 0 0 5px;}
//     }
//     .btn{min-width:100px; font-size:13px;}
// }
// .half{
//     .search-wrap{margin:0 0 30px;
//         .search{padding:35px 20px;}
//     }
//     .table-default{min-width:600px;}
// }
// .section{
//     + .section{margin:50px 0 0;}
// }
// .client-list{
//     .row{--bs-gutter-x:8px;
//         .col{flex:0 0 auto; width:calc(100% / 6); margin:0 0 8px;
//             .inner{position:relative; height:100%; box-sizing:border-box; overflow:hidden; border-radius:5px;
//                 &.active{color:$color-primary; border-color:$color-primary;}
//             }
//             button{width:100%; height:100%; padding:12px 15px; text-align:left; line-height:1.4; border:1px solid #c3c3c3; border-radius:5px; background:#fff;
//                 &.active{color:$color-primary; border-color:$color-primary;}
//                 &.alert{margin:0;
//                     &::before{position:absolute; top:0; left:0; width:100%; height:3px; content:''; background:$color-primary;}
//                 }
//             }
//             .progress{position:absolute; bottom:0; left:0; width:100%; height:3px; overflow:visible; border-radius:0; background:none;
//                 .progress-bar{height:3px; background:#ffa500;}
//                 .txt{position:absolute; right:3px; bottom:3px; font-size:0.5rem;}
//             }
//         }
//     }
//     &.biz{
//         .row{
//             .col{width:160px;}
//         }
//     }
// }

// .tab-wrap{margin:60px 0 0;}
// .nav-tabs{
//     > li{flex:1; margin:0; padding:0;}
//     .nav-link{position:relative; width:100%; overflow:hidden; padding:20px 0; font-size:1.250rem; color:$color-dark; border:0; border-top-left-radius:10px; border-top-right-radius:10px; background:#d7d7d7;
//         &:focus,
//         &:hover,
//         &:active{border:0;}
//         &.active{padding:19px 0 20px; border:1px solid #d7d7d7; border-bottom:0;
//             &:before{position:absolute; top:0; left:0; width:100%; height:3px; content:''; background:$color-primary;}
//         }
//     }
// }
// .tab-content{position:relative; padding:16px 24px 50px; border-radius:0 0 10px 10px; border:1px solid #dbdbdb; border-top:0; background:#fff;
//     .btn-wrap{margin:0 0 12px;
//         .btn{height:27px; padding:0 15px; font-size:0.813rem; color:$color-dark; line-height:27px; border-radius:14px;
//             &:hover,
//             &.active{color:#fff;}
//         }
//     }
// }

// @include x-large{
//     .sub-contents-wrap{padding:30px;}
//     .title-area{flex-wrap:wrap;
//         .title-disc{width:100%; margin:10px 0 0;}
//     }
//     .search-wrap{
//         .search{padding:35px 30px;}
//         .detail{flex-wrap:wrap;
//             .col{flex:0 0 auto; width:25%;
//                 &:nth-child(n+5){margin-top:15px;}
//             }
//         }
//     }
//     .half + .half{margin-top:40px;}
// }
// @include large{
//     .client-list{
//         .row{flex-wrap:wrap;
//             .col{width:25%;}
//         }
//     }
// }
// @include medium{
//     .sub-contents-wrap{padding:30px 30px 30px 70px;}
//     .search-wrap{margin:0 0 20px;
//         .search{flex-wrap:wrap; padding:20px;
//             .term{flex:0 0 auto; width:100%; height:40px;}
//             .input{flex:0 0 auto; width:100%; margin:20px 0 0;
//                 &:first-child{margin:0;}
//                 input[type="text"]{height:40px;}
//                 .btn-primary{width:80px; height:40px;}
//                 .btn-special{width:80px; height:40px;}
//             }
//             select + .input{width:78%;}
//         }

//         .detail{padding:15px 0;
//             .col{
//                 dt{font-size:1rem;}
//             }
//         }
//         select{height:40px; margin:20px 2% 0 0;}
//     }
//     .half{
//         .search-wrap{margin:0 0 20px;
//             .search{padding:20px;}
//         }
//         .table-default{min-width:800px;}
//     }
//     .nav-tabs{
//         .nav-link{padding:10px 0;
//             &:focus,
//             &:hover,
//             &:active{border:0;}
//             &.active{padding:9px 0 10px; border:1px solid #d7d7d7; border-bottom:0;
//                 &:before{position:absolute; top:0; left:0; width:100%; height:3px; content:''; background:$color-primary;}
//             }
//         }
//     }
// }
// @include small{
    
// }


