@charset "UTF-8";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bootstrap-icons";
  src: url("/fonts/bootstrap-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.2;
  color: #2d2e34;
}

a {
  color: inherit;
  text-decoration: none;
}

hr, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, figure, figcaption, img {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol, li {
  list-style: none;
}

p, div, th, td {
  font-size: 100%;
}

dfn, address {
  font-style: normal;
}

img, input, select, textarea {
  vertical-align: middle;
}

input, select, button {
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 100%;
}

textarea {
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 100%;
  resize: none;
  border-radius: 0;
  appearance: none;
}

input[type=submit], button {
  cursor: pointer;
}

button {
  color: inherit;
  border: 0;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input {
  outline: none;
}

textarea {
  box-sizing: border-box;
  padding: 20px;
  color: #222;
  border: 1px solid #ddd;
}

textarea:focus {
  border: 1px solid #222;
  outline: none;
}

select {
  appearance: none;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

::-moz-selection {
  color: #fff;
  background: #009dff;
}

::selection {
  color: #fff;
  background: #009dff;
}

.masking {
  font-style: normal;
  font-family: Gulim;
  letter-spacing: 0px;
}

.masking:last-child {
  padding-right: 1.5px;
}

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 14px;
  }
}
body {
  background: #f7f7f7;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  box-sizing: border-box;
  padding: 42px 0;
  border-radius: 0 0 40px 0;
  background: #2d2e34;
}
.left-side .btn-menu {
  display: none;
}
.left-side .logo {
  margin: 0 auto 40px;
}

.nav-wrap {
  flex: 1;
  overflow: auto;
}
.nav-wrap::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.nav-wrap::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #aaa;
}
.nav-wrap .nav > li {
  position: relative;
  padding: 15px 0 0 10px;
  font-size: 1.063rem;
  transition: all 0.2s;
}
.nav-wrap .nav > li:not(:last-child) {
  margin: 0 0 30px;
}
.nav-wrap .nav > li:has(div):after {
  position: absolute;
  top: 16px;
  right: 30px;
  width: 10px;
  height: 10px;
  content: "";
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
.nav-wrap .nav > li:has([aria-expanded=true]) {
  background: #fff;
}
.nav-wrap .nav > li:has([aria-expanded=true]):before {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  content: "";
  background: #ce1922;
}
.nav-wrap .nav > li:has([aria-expanded=true]):after {
  top: 20px;
  border-color: #2d2e34;
  transform: rotate(225deg);
}
.nav-wrap .nav > li:has([aria-expanded=true]) button {
  color: #2d2e34;
}
.nav-wrap .nav > li:has([aria-expanded=true]) button[aria-expanded=true] {
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.nav-wrap .nav button {
  display: block;
  padding: 0 0 0 33px;
  color: #fff;
}
.nav-wrap .nav button > i.bi {
  display: inline-block;
  margin: 5px 10px 0 -35px;
  font-size: 150%;
  vertical-align: middle;
}
.nav-wrap .nav .btn-toggle-nav {
  padding: 18px 0 0;
}
.nav-wrap .nav .btn-toggle-nav li {
  margin: 0 0 12px 32px;
}
.nav-wrap .nav .btn-toggle-nav a {
  position: relative;
  display: inline-block;
  padding: 0 0 2px 10px;
  font-size: 0.875rem;
  color: #929292;
}
.nav-wrap .nav .btn-toggle-nav .active {
  color: #ce1922;
  border-bottom: 2px solid #e58489;
}
.nav-wrap .nav .btn-toggle-nav .active:before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  content: "";
  border-radius: 50%;
  background: #ce1922;
}

.util-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 38px;
  padding: 20px 0 0;
}
.util-nav a {
  font-size: 0.813rem;
  color: #aaa;
}

.btn-wrap a { /*이벤트 > 상세 페이지 버튼*/ }
.btn-wrap a button.btn-outline-danger {
  color: #000;
  border-radius: 14px;
  padding: var(--bs-btn-padding-y) 15px;
}
.btn-wrap a button.btn-outline-danger:hover {
  color: var(--bs-btn-hover-color);
}

.section.position-relative .btn-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.main-contents-wrap {
  flex: 1;
  padding: 80px 6.7708vw;
}

.ad-list .row {
  text-align: left;
}
.ad-list .row:not(:first-child) {
  margin-top: 24px;
}
.ad-list .type {
  flex: 1;
  margin-right: 12px;
  padding: 1.8229vw 2.5vw;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background: #fff;
}
.ad-list .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  color: #fff;
  border-radius: 10px;
  background: #2d2e34;
}
.ad-list .btn-more span {
  padding: 30px 0 0;
  background: url("/img/ico_arrow.png") no-repeat center 0;
}
.ad-list .btn-primary {
  background: #ce1922;
}
.ad-list .summary {
  display: flex;
  margin: 0 0 24px;
}
.ad-list .summary strong {
  min-width: 210px;
  margin: 0 45px 0 0;
  font-size: 1.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-list .summary i {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px 0 0;
  vertical-align: top;
}
.ad-list .summary .facebook {
  background: url("/img/ico_facebook.png") no-repeat center 0;
}
.ad-list .summary .kakao {
  background: url("/img/ico_kakao.png") no-repeat center 0;
}
.ad-list .summary .google {
  background: url("/img/ico_google.png") no-repeat center 0;
}
.ad-list .summary dl {
  display: flex;
  align-items: center;
  margin: 0 45px 0 0;
}
.ad-list .summary dt {
  margin: 0 6px 0 0;
  font-size: 1rem;
}
.ad-list .summary dd {
  font-size: 1.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-list .summary .percentage dd {
  color: #ce1922;
}
.ad-list .detail dl {
  box-sizing: border-box;
  margin: 0 22px 0 0;
  padding: 7px 10px;
  text-align: left;
  background: #f2f2f2;
}
.ad-list .detail dd {
  margin: 8px 0 0;
  color: #929292;
}

.dayOff-contanier .form-select {
  font-size: 0.8rem;
}

@media screen and (max-width: 1400px) {
  .main-contents-wrap {
    padding: 30px;
  }
  .ad-list .type {
    padding: 20px;
  }
  .ad-detail-info {
    flex-wrap: wrap;
  }
  .ad-detail-info .col {
    flex: 0 0 auto;
    width: 25%;
  }
  .ad-detail-info .col:nth-child(n+5) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .ad-list .row {
    position: relative;
  }
  .ad-list .summary {
    flex-wrap: wrap;
  }
  .ad-list .summary strong {
    width: 100%;
    margin: 0 0 10px;
  }
  .ad-list .btn-more {
    position: absolute;
    top: 15px;
    right: 20px;
    width: auto;
    color: #2d2e34;
    background: none;
  }
  .ad-list .btn-more span {
    padding: 0;
    background: none;
  }
}
@media screen and (max-width: 1024px) {
  .wrap {
    min-width: 580px;
  }
  .main-contents-wrap {
    padding: 30px 30px 30px 70px;
  }
  .left-side {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
    border-radius: 0;
    transition: all 0.2s;
    z-index: 99;
  }
  .left-side .logo {
    margin: 0 0 20px 45px;
  }
  .left-side.open {
    width: 240px;
  }
  .left-side .btn-menu {
    position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
    border-top: 2px solid #fff;
  }
  .left-side .btn-menu:before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #fff;
  }
  .left-side .btn-menu:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #fff;
  }
  .nav-wrap {
    width: 240px;
  }
  .nav-wrap .nav > li:not(:last-child) {
    margin: 0 0 10px;
  }
  .nav-wrap .nav button {
    display: block;
    padding: 0 0 0 33px;
    color: #fff;
  }
  .util-nav {
    width: 156px;
  }
  .ad-list .type {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .section.position-relative .btn-wrap {
    right: unset;
    left: 0;
  }
}
.sub-contents-wrap {
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding: 40px 2.9908vw 50px;
  transition: all 0.3s;
}

.title-area {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
.title-area .page-title {
  font-size: 1.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.title-area .title-disc {
  margin: 0 0 0 15px;
}

.content-title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 18px;
  font-size: 1.25rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.content-title:after {
  flex: 1;
  width: 100%;
  height: 2px;
  margin: 0 0 0 12px;
  content: "";
  background: #dbdbdb;
}
.content-title .bi {
  width: 19px;
  height: 19px;
  margin: 0 8px 0 0;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #ce1922;
}
.content-title .bi:before {
  line-height: 19px;
}
.content-title.toggle {
  cursor: pointer;
}
.content-title.folded + div {
  display: none;
}
.content-title.folded .bi:before {
  transform: rotate(180deg);
}

.col.half .search-wrap .search .input input[type=text] {
  font-size: 90%;
}
.col.half .search-wrap .search .input .btn-primary {
  height: 50px;
}
.col.half .search-wrap .search .input .form-select {
  padding: 0.375rem 1.25rem 0.375rem 0.75rem;
}

.search-wrap {
  overflow: hidden;
  margin: 0 0 50px;
  border: 1px solid #c3c3c3;
  border-radius: 10px 10px 0 0;
}
.search-wrap .search {
  padding: 35px 10.4167vw;
  text-align: center;
  background: #fff;
}
.search-wrap .search .term {
  flex: 1;
  height: 50px;
  padding: 0 25px;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}
.search-wrap .search .term input[type=text] {
  flex: 1;
  width: 100%;
  border: 0;
}
.search-wrap .search .term span {
  margin: 0 20px;
}
.search-wrap .search .term button {
  width: 28px;
  color: #ce1922;
}
.search-wrap .search .input {
  flex: 1;
  display: flex;
}
.search-wrap .search .input input[type=text] {
  flex: 1;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  padding: 0 15px 0 45px;
  border: 1px solid #929292;
  border-radius: 25px;
  background: url("/img/search.svg") no-repeat 24px center;
}
.search-wrap .search .input input[type=text]:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(223, 23, 43, 0.2705882353);
  caret-color: red;
}
.search-wrap .search .input input[type=text]:focus::placeholder {
  color: red;
  text-indent: 0.75rem;
  transition: text-indent 0.3s;
}
.search-wrap .search .input .btn-primary {
  width: 115px;
  height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
  background: #ce1922;
}
.search-wrap .search .input .btn-special {
  width: 115px;
  height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
  background: var(--bs-blue);
}
.search-wrap .search * + .input {
  margin: 0 0 0 20px;
}
.search-wrap .detail {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #c3c3c3;
  background: #e9e9e9;
}
.search-wrap .detail .col {
  flex: 0 0 auto;
  width: auto;
  padding: 0 30px;
  color: #929292;
  font-weight: 500;
}
.search-wrap .detail .col dt {
  margin: 0 0 5px; /*font-size:1.125rem;*/
  font-size: 1rem;
  color: #2d2e34;
}
.search-wrap select {
  width: 20%;
  height: 50px;
  margin: 0 0 0 20px;
}

.regi-wrap {
  margin: 0 0 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #c3c3c3;
  background: #fff;
}
.regi-wrap input {
  padding: 0.375rem 0.5rem;
  font-size: 13px;
}
.regi-wrap input:not(:first-child) {
  margin: 0 0 0 5px;
}
.regi-wrap .btn {
  min-width: 100px;
  font-size: 13px;
}

.half .search-wrap {
  margin: 0 0 30px;
}
.half .search-wrap .search {
  padding: 35px 20px;
}
.half .table-default {
  min-width: 600px;
}

.section + .section {
  margin: 50px 0 0;
}

.client-list .row {
  --bs-gutter-x:8px;
  overflow-y: auto;
}
.client-list .row .col {
  flex: 0 0 auto;
  width: 14.2857142857%;
  margin: 0 0 8px;
}
.client-list .row .col .inner {
  position: relative;
  height: 100%;
  min-height: 45px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
}
.client-list .row .col .inner.active {
  color: #ce1922;
  border-color: #ce1922;
}
.client-list .row .col button {
  width: 100%;
  height: 100%;
  padding: 2px 7px;
  white-space: normal;
  text-align: left;
  line-height: 1.1;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #fff;
  overflow-y: hidden;
  font-size: 85%;
}
.client-list .row .col button.active {
  color: #ce1922;
  border-color: #ce1922;
}
.client-list .row .col button.on {
  color: var(--bs-white);
  background-color: #fda9a9;
}
.client-list .row .col button.alert {
  margin: 0;
}
.client-list .row .col button.alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}
.client-list .row .col .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  overflow: visible;
  border-radius: 0;
  background: none;
}
.client-list .row .col .progress .progress-bar {
  height: 3px;
  background: #ffa500;
}
.client-list .row .col .progress .txt {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 0.5rem;
}
.client-list .row .col:hover {
  box-shadow: inset 20px 70px 0px red;
}
.client-list .row .col:hover button {
  border-left-color: transparent;
  border-right-color: transparent;
}
.client-list.biz .row .col {
  width: 160px;
}

.tab-wrap {
  margin: 60px 0 0;
}

.nav-tabs > li {
  flex: 1;
  margin: 0;
  padding: 0;
}
.nav-tabs .nav-link {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  font-size: 1.25rem;
  color: #2d2e34;
  border: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #d7d7d7;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:active {
  border: 0;
}
.nav-tabs .nav-link.active {
  padding: 19px 0 20px;
  border: 1px solid #d7d7d7;
  border-bottom: 0;
}
.nav-tabs .nav-link.active:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}

.tab-content {
  position: relative; /*padding:16px 24px 50px;*/
  padding: 0.75rem 0.75rem 1.75rem;
  border-radius: 0 0 10px 10px;
  border: 1px solid #dbdbdb;
  border-top: 0;
  background: #fff;
}
.tab-content .btn-wrap {
  margin: 0 0 12px;
}
.tab-content .btn-wrap .btn {
  height: 27px;
  padding: 0 15px;
  font-size: 0.813rem;
  color: #2d2e34;
  line-height: 27px;
  border-radius: 14px;
}
.tab-content .btn-wrap .btn:hover, .tab-content .btn-wrap .btn.active {
  color: #fff;
}

.dataTables_scrollBody { /*table 스크롤바 안보임*/
  -ms-overflow-style: none; /* 익스플로러, 앳지 */
  scrollbar-width: none; /* 파이어폭스 */
}
.dataTables_scrollBody::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

#adv-show-table #p_name #search-results {
  position: absolute;
  background-color: #fff;
}

.form-control:focus, .form-select:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(223, 23, 43, 0.2705882353);
  caret-color: red;
}
.form-control:focus::placeholder, .form-select:focus::placeholder {
  color: red;
  text-indent: 0.5rem;
  transition: text-indent 0.3s;
}

.account-container input.form-control:focus {
  box-shadow: 0 0 0 0.25rem #C0DBEA;
  caret-color: #7286D3;
  color: #7286D3;
}
.account-container input.form-control:focus::placeholder {
  color: #7286D3;
}

input:-internal-autofill-selected {
  color: #7286D3;
}

@media screen and (max-width: 1400px) {
  .sub-contents-wrap {
    padding: 30px 30px 30px 70px;
  }
  .title-area {
    flex-wrap: wrap;
  }
  .title-area .title-disc {
    width: 100%;
    margin: 10px 0 0;
  }
  .search-wrap .search {
    padding: 35px 30px;
  }
  .search-wrap .detail {
    flex-wrap: wrap;
  }
  .search-wrap .detail .col {
    flex: 0 0 auto;
    width: 25%;
  }
  .search-wrap .detail .col:nth-child(n+5) {
    margin-top: 15px;
  }
  .half + .half {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .client-list .row {
    flex-wrap: wrap;
    max-height: 250px;
  }
  .client-list .row .col {
    width: 25%;
  }
  .client-list .row .col .inner {
    min-height: inherit;
    height: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .search-wrap {
    margin: 0 0 20px;
  }
  .search-wrap .search {
    flex-wrap: wrap;
    padding: 20px;
  }
  .search-wrap .search .term {
    flex: 0 0 auto;
    width: 100%;
    height: 40px;
  }
  .search-wrap .search .input {
    flex: 0 0 auto;
    width: 100%;
    margin: 20px 0 0;
  }
  .search-wrap .search .input:first-child {
    margin: 0;
  }
  .search-wrap .search .input input[type=text] {
    height: 40px;
  }
  .search-wrap .search .input .btn-primary {
    width: 80px;
    height: 40px;
  }
  .search-wrap .search .input .btn-special {
    width: 80px;
    height: 40px;
  }
  .search-wrap .search select + .input {
    width: 78%;
  }
  .search-wrap .detail {
    padding: 15px 0;
  }
  .search-wrap .detail .col dt {
    font-size: 1rem;
  }
  .search-wrap select {
    height: 40px;
    margin: 20px 2% 0 0;
  }
  .half .search-wrap {
    margin: 0 0 20px;
  }
  .half .search-wrap .search {
    padding: 20px;
  }
  .half .table-default {
    min-width: 800px;
  }
  .nav-tabs .nav-link {
    padding: 10px 0;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:active {
    border: 0;
  }
  .nav-tabs .nav-link.active {
    padding: 9px 0 10px;
    border: 1px solid #d7d7d7;
    border-bottom: 0;
  }
  .nav-tabs .nav-link.active:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #ce1922;
  }
}
div.dataTables_processing {
  z-index: 1;
  padding-top: 16px !important;
  background-color: rgba(255, 255, 255, 0.9);
}

div.dataTables_processing > div:last-child > div {
  background-color: var(--bs-red) !important;
}

.table-responsive {
  position: relative;
}

.btns-memo-style {
  display: inline;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.btns-memo-style button.active {
  color: var(--bs-red);
}

.custom-btn-collection > .dt-down-arrow {
  display: none;
}

.table .none {
  padding: 50px 0;
  text-align: center;
}
.table .ico {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.table .ico.green {
  background: var(--bs-success);
}
.table .ico.red {
  background: var(--bs-danger);
}
.table .nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table .badge-0 {
  display: none;
}
.table td .regi-form {
  float: right;
}
.table td .memo-list {
  float: left;
  width: 75%;
}
.table td .btn-budget {
  margin: 1.5rem auto 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.table td .btn-budget button:hover {
  color: var(--bs-blue);
}

.table-default {
  table-layout: fixed;
  min-width: 1400px;
  --bs-table-hover-bg:#ffebeb;
  --bs-table-striped-bg:rgba(0, 0, 0, .03);
  font-size: 0.813rem;
}
.table-default thead th {
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
}
.table-default thead th:not(:last-child) {
  border-right: 1px dashed #dfdfdf;
}
.table-default tbody th {
  position: relative;
  padding: 12px;
  font-weight: 400;
  border-right: 1px dashed #dfdfdf;
}
.table-default tbody td {
  position: relative;
  padding: 12px 8px;
  text-align: center;
  vertical-align: middle;
  word-break: break-word;
}
.table-default tbody td:not(:last-child) {
  border-right: 1px dashed #dfdfdf;
}
.table-default .btn-area {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
}
.table-default .btn-area .btn.btn-outline-secondary {
  background: #fff;
}
.table-default .btn-area .btn:hover, .table-default .btn-area .btn:focus {
  background: var(--bs-btn-hover-bg);
}
.table-default .btn-area .btn-reflesh,
.table-default .btn-area .btn-paper {
  width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 0;
  font-size: 0.75rem;
  line-height: 20px;
}
.table-default .btn-area .btn-arrow {
  width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 0;
  font-size: 1.125rem;
  line-height: 20px;
  border-radius: 50%;
}

.table-event {
  min-width: 1400px;
}
.table-event thead th {
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
}
.table-event thead th:not(:last-child) {
  border-right: 1px dashed #dfdfdf;
}
.table-event td {
  padding: 5px;
  font-size: 13px;
  vertical-align: middle;
}
.table-event input[type=text] {
  padding: 5px;
  font-size: 13px;
}
.table-event .r-border {
  border-right: 1px dashed #dfdfdf;
}

.table-data {
  text-align: center;
}
.table-data th,
.table-data td {
  padding: 20px 10px;
}
.table-data thead th {
  background: #f7f7f7;
}

.table-modal {
  font-size: 13px;
  vertical-align: middle;
}
.table-modal thead th {
  text-align: center;
  background: #f7f7f7;
}
.table-modal .btn {
  margin: 0 0 0 10px;
  font-size: 13px;
}

.table-left-header {
  font-size: 13px;
  vertical-align: middle;
}
.table-left-header th {
  text-align: center;
  background: #f7f7f7;
}
.table-left-header td input,
.table-left-header td select {
  font-size: 13px;
}
.table-left-header .btn {
  min-width: 80px;
}
.table-left-header * + .btn {
  margin-left: 10px;
}

.table-sm {
  min-width: 1000px;
}

@media screen and (max-width: 1024px) {
  .table-data {
    text-align: center;
  }
  .table-data th,
  .table-data td {
    padding: 10px;
  }
}
.modal {
  --bs-modal-header-padding:30px 30px 15px;
  --bs-modal-padding:15px 30px 30px;
}
.modal .modal-dialog {
  --bs-modal-width:620px;
}
.modal .modal-dialog.max-520 {
  --bs-modal-width:520px;
  word-break: keep-all;
  line-height: 1.6;
}
.modal .modal-dialog.max-520 .modal-body p {
  color: #555;
}
.modal .modal-dialog.max-520 .modal-body p b {
  color: red;
  font-weight: 900;
}
.modal .modal-dialog.max-520 .modal-body p span {
  border-bottom: 2px solid #ccc;
  color: #000;
  font-weight: 600;
  text-shadow: 0px 1px 10px #ccc;
}
.modal .modal-lg {
  --bs-modal-width:895px;
}
.modal.fade .modal-dialog {
  transform: translate(50px, 0);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal .modal-header {
  border-bottom: 0;
}
.modal .modal-header .modal-title {
  font-size: 1.425rem;
  border-bottom: 2px solid #ce1922;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal .modal-header .modal-title .title::before {
  content: "-";
  padding: 0 5px;
}
.modal .modal-header .modal-title .bi {
  font-size: 22px;
}
.modal .modal-body .body-title {
  margin: 0 0 15px;
  font-size: 20px;
}
.modal .modal-body textarea {
  width: 100%;
  height: 95px;
  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background: #f7f7f7;
}
.modal .modal-body > .d-flex:has(button) {
  margin: 0 0 15px;
}
.modal .modal-body > .d-flex .body-title {
  margin: 0;
}
.modal .modal-body > .d-flex form {
  min-width: 300px;
}
.modal .modal-footer {
  padding: 0 30px 30px;
  border: 0;
}
.modal .sm-txt .modal-header {
  border-bottom: 0;
}
.modal .sm-txt .modal-header .modal-title {
  font-size: 18px;
  border-bottom: 2px solid #ce1922;
}
.modal .sm-txt .modal-header .modal-title .bi {
  font-size: 15px;
}

.sorting {
  margin: 0 0 20px;
}
.sorting button {
  width: 135px;
  height: 40px;
  margin: 0 8px 0 0;
  font-size: 20px;
  text-align: center;
  border: 1px solid #2d2e34;
  border-radius: 20px;
}
.sorting button.active {
  color: #fff;
  background: #2d2e34;
}
.sorting .term {
  color: var(--bs-gray);
}

.regi-form fieldset {
  display: flex;
}
.regi-form fieldset .btn-regi {
  width: 90px;
  margin: 0 0 0 5px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #2d2e34;
}

.memo-list {
  font-size: 13px;
  max-height: 60vh;
  overflow-y: auto;
}
.memo-list li {
  position: relative;
  padding: 10px 0;
}
.memo-list li::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -6px;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: #ce1922;
}
.memo-list li:not(:last-child) {
  border-bottom: 2px dashed #dfdfdf;
}
.memo-list li .info {
  min-width: 200px;
  text-align: right;
}

.ad-status {
  margin: 0 0 15px;
  padding: 6px 0;
  text-align: center;
  background: #f7f7f7;
}

.status-type {
  padding: 0 0.7813vw;
  font-size: 15px;
}
.status-type li {
  position: relative;
  padding: 0 0 0 12px;
}
.status-type li:not(first-child) {
  margin: 10px 0 0;
}
.status-type li:before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 50%;
  background: #ce1922;
}
.status-type li .info {
  font-size: 13px;
}
.status-type li .info span {
  margin: 0 0 0 5px;
}

.approval {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 10px;
}
.approval li {
  width: 100px;
  margin: 0 0 0 -1px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #dee2e6;
}
.approval span {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #dee2e6;
  background: #f7f7f7;
}
.approval div {
  height: 100px;
}

.dtsr-confirmation > *:not(.dtsr-rename-modal) {
  padding: 0.5rem 0.5rem;
}
.dtsr-confirmation .dtsr-confirmation-title-row {
  font-size: 18px;
  border-bottom: 2px solid #ce1922;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-bottom: 1%;
}
.dtsr-confirmation .dtsr-confirmation-text {
  border: 1px solid var(--bs-border-color);
}
.dtsr-confirmation .dtsr-confirmation-text > * {
  padding: 0.5rem 0.5rem;
}
.dtsr-confirmation .dtsr-confirmation-text .dtsr-confirmation-message {
  display: block !important;
  background-color: #f7f7f7;
  text-align: left !important;
}
.dtsr-confirmation .dtsr-confirmation-text input.dtsr-input {
  margin: 0.5rem 0.5rem;
  width: 96%;
}
.dtsr-confirmation .dtsr-popover-close {
  width: auto;
  height: auto;
  font-size: 1.7rem;
  background-color: unset;
  border: none;
}
.dtsr-confirmation .dtsr-confirmation-button {
  background: var(--bs-blue);
  color: var(--bs-white);
  padding: 0.75rem 0.375rem;
  border-radius: 0.375rem;
}

/*회원관리 > 광고주 관리 팝업*/
.company-contaniner .modal form[name=adv-show-form], .company-contaniner .modal form[name=adaccount-form], .company-contaniner .modal form[name=belong-user-form] {
  max-width: var(--bs-modal-width);
  overflow-x: scroll;
}
.company-contaniner .modal .dataTables_wrapper {
  overflow: scroll;
}
.company-contaniner .modal table.adAccountListTable {
  text-align: center;
}
.company-contaniner .modal table.adAccountListTable tbody tr th:nth-child(2) {
  width: 20%;
}
.company-contaniner .modal table.adAccountListTable tbody tr th:nth-child(3) {
  width: 15%;
}
.company-contaniner .modal table.adAccountListTable tbody tr th:nth-child(4) {
  width: 25%;
}
.company-contaniner .modal table.adAccountListTable tbody tr td:nth-child(2) {
  width: 20%;
}
.company-contaniner .modal table.adAccountListTable tbody tr td:nth-child(3) {
  width: 15%;
}
.company-contaniner .modal table.adAccountListTable tbody tr td:nth-child(4) {
  width: 25%;
}
.company-contaniner .modal form[name=adv-show-form] .form-control, .company-contaniner .modal form[name=belong-user-form] .form-control {
  text-align: center;
}
.company-contaniner .modal form[name=adv-show-form] span, .company-contaniner .modal form[name=belong-user-form] span {
  text-align: center;
  display: block;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .modal {
    --bs-modal-header-padding:20px 20px 10px;
    --bs-modal-padding:20px;
  }
  .modal .modal-body .body-title {
    font-size: 16px;
  }
  .sorting {
    margin: 0 0 20px;
  }
  .sorting button {
    width: auto;
    height: 32px;
    margin: 0 4px 0 0;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 16px;
  }
  .sorting .term {
    font-size: 12px;
  }
  .table-data,
  .table-modal {
    min-width: 800px;
  }
  .company-contaniner .modal .table.adAccountListTable {
    min-width: 600px;
  }
  .company-contaniner .modal .table-modal:not(form[name=adv-show-form] .table-modal) {
    min-width: unset;
  }
}
@media screen and (max-width: 500px) {
  .sorting button {
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
}
@keyframes moreBtn {
  0% {
    background-position-x: 40%;
  }
  40% {
    background-position-x: 70%;
  }
  60% {
    background-position-x: right;
  }
  80% {
    background-position-x: 70%;
  }
  100% {
    background-position-x: right;
  }
}
@keyframes moreBtn_mo {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@keyframes letterSpacing {
  0% {
    letter-spacing: 0.5rem;
  }
  100% {
    letter-spacing: 0px;
  }
}
@keyframes hover-line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes sidebarShake {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes rotate-turn {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(45deg);
  }
}
.ad-list .type:hover {
  box-shadow: 2px 2px 15px #ccc;
}
.ad-list .btn-more {
  transition: 0.4s;
}
.ad-list .btn-more:hover span {
  transition: 0.2s;
  animation: moreBtn 0.5s infinite linear alternate;
}

@media screen and (max-width: 1200px) {
  .ad-list .type:hover + .btn-more span, .ad-list .type:focus + .btn-more span, .ad-list .type:target + .btn-more span {
    animation: none;
  }
  .ad-list .type:hover + .btn-more::after, .ad-list .type:focus + .btn-more::after, .ad-list .type:target + .btn-more::after {
    display: block;
    content: "더 보기";
    position: absolute;
    bottom: -100%;
    left: 5px;
    animation: moreBtn_mo 0.3s linear alternate;
    font-size: 0.8rem;
    color: #2d2e34;
  }
  .ad-list .btn-more {
    width: auto;
    background: #2d2e34;
    padding: 5px 14px;
    border-radius: 4px;
  }
  .ad-list .btn-more span {
    padding: 0;
    background: url("/img/ico_arrow.png") no-repeat center 0;
    color: transparent;
    width: 1.3rem;
    height: 0.85rem;
    background-size: contain;
  }
  .ad-list .btn-primary {
    background: #ce1922;
  }
}
.adv-manager .search-wrap {
  margin-bottom: 25px;
}

.sub-contents-wrap .reset-btn-wrap {
  margin: 20px 0;
}
.sub-contents-wrap .reset-btn-wrap .reset-btn-box {
  text-align: right;
}
.sub-contents-wrap .reset-btn-wrap .reset-btn-box button {
  width: 92px;
  height: 36px;
  font-weight: 700;
  font-size: 80%;
  color: #fff;
  border-radius: 7px;
  background: #ce1922;
}
.sub-contents-wrap .custom-margin-box-1 {
  margin-top: 20px;
}
.sub-contents-wrap .media-advertiser .filter_media_btn .media_account_icon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}
.sub-contents-wrap .media-advertiser .filter_media_btn .media_account_name {
  padding-left: 0.5rem;
  width: 87%;
}
.sub-contents-wrap .media-advertiser .filter_media_btn .facebook {
  background: url(/img/ico_facebook.png);
  background-size: cover;
}
.sub-contents-wrap .media-advertiser .filter_media_btn .google {
  background: url(/img/ico_google.png);
  background-size: cover;
}
.sub-contents-wrap .media-advertiser .filter_media_btn .kakao {
  background: url(/img/ico_kakao.png);
  background-size: cover;
}
.sub-contents-wrap .btns-memo-style button:hover i.bi::before {
  animation: sidebarShake 0.3s infinite linear alternate;
}
.sub-contents-wrap .dataTables_wrapper .dt-buttons {
  z-index: 1;
  text-align: left;
  margin-bottom: 1rem;
}
.sub-contents-wrap .dataTables_wrapper .dt-buttons i.bi-list {
  color: #2d2e34;
  transition: all 0.3s;
  font-size: 150%;
}
.sub-contents-wrap .dataTables_wrapper .dt-buttons i.bi-list:hover::before {
  animation: rotate-turn 0.3s infinite linear alternate;
}
.sub-contents-wrap .dataTables_wrapper .paging {
  padding-top: 1.755em;
  position: sticky;
  bottom: 0;
  background-color: #f7f7f7;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_length {
  margin-bottom: 2rem;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_length select {
  background-color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  border: 1px dashed #2d2e34;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_info {
  float: unset;
  position: absolute;
  right: 0;
  padding-top: 1.755em;
  transition: all 0.5s;
  cursor: pointer;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_info i.bi {
  color: red;
  padding-right: 6px;
  font-size: 110%;
  display: inline-block;
  vertical-align: top;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_info > span {
  position: relative;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_info > span:hover {
  font-weight: 900;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_info > span:hover::after {
  position: absolute;
  bottom: -5px;
  left: 0%;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #878787;
  transition: 0.2s;
  animation: hover-line 0.2s linear;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate {
  float: unset;
  text-align: center;
  padding-top: 1.755em;
  padding-bottom: 1.755em;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button {
  border: none;
  padding: 0.25rem 0.5rem;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: #aaa !important;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: red !important;
  border: none;
  background: none;
  transition: 0.2s;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button:not(.previous, .next, .current) {
  position: relative;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button:not(.previous, .next, .current):hover::before {
  position: absolute;
  top: -5px;
  left: 47%;
  content: "";
  width: 4px;
  height: 4px;
  background-color: red;
  transition: 0.2s;
  border-radius: 50%;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button:not(.previous, .next, .current):hover::after {
  position: absolute;
  bottom: -5px;
  left: 0%;
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  transition: 0.2s;
  animation: hover-line 0.2s linear;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
  background-color: red;
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 4px;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  background-color: red;
  border: none;
}
.sub-contents-wrap .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  border: none;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable thead tr th, .sub-contents-wrap .dataTables_wrapper table.dataTable thead tr td {
  text-align: center;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable thead tr .sorting_asc:before, .sub-contents-wrap .dataTables_wrapper table.dataTable thead tr .sorting_desc:after {
  color: chartreuse;
  opacity: 1;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable tbody tr {
  background-color: #fff;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable tbody tr td {
  position: relative;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable tfoot tr th, .sub-contents-wrap .dataTables_wrapper table.dataTable tfoot tr td {
  text-align: center;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable textarea.consultation {
  padding: 0px;
  width: 100%;
  border: none;
  background: transparent;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable select.data-del {
  padding: 3px;
  border-radius: 4px;
  font-size: 98%;
  letter-spacing: -1px;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable button.save {
  background-color: #009dff;
  color: #fff;
  margin-top: 0.25rem;
  padding: 0.4rem 1rem;
  border-radius: 4px;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable button.delete {
  background-color: #000;
  color: #fff;
  margin-top: 0.25rem;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  transition: 0.5s;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable button.delete:hover {
  box-shadow: inset 0 -3em 0 0 red;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .media_box i {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .media_box .facebook {
  background: url("/img/ico_facebook.png") no-repeat center 0;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .media_box .kakao {
  background: url("/img/ico_kakao.png") no-repeat center 0;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .media_box .google {
  background: url("/img/ico_google.png") no-repeat center 0;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .codeBox .codeBtn {
  padding: 0;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .codeBox .codeBtn .bi-c-circle {
  font-size: 1.15rem;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .codeBox .codeBtn .bi-c-circle:hover {
  cursor: pointer;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .codeBox span {
  margin-left: 5px;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .mediaName p {
  margin-bottom: 0.5rem;
  text-align: left;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .mediaName button {
  position: absolute !important;
  bottom: 0;
  right: 0;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .mediaName button i {
  font-size: 1.25rem;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .landing-box > button {
  display: block;
  margin: 0 auto;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable select.form-select {
  font-size: 0.75rem;
  background-position: right 0.25rem center;
  padding: 0.375rem 0.25rem 0.375rem 0.35rem;
  background-size: 10px 10px;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable button.btn-history {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sub-contents-wrap .dataTables_wrapper table.dataTable .is_stop {
  color: red;
}

.db-manage-contaniner .search-wrap {
  border-radius: 10px;
  overflow: auto;
  margin-bottom: 25px;
}
.db-manage-contaniner .detail.minWd {
  flex-wrap: wrap;
  min-width: 1000px;
}
.db-manage-contaniner .detail.minWd .col {
  padding: 0;
  flex: 1 0 auto;
  cursor: pointer;
}
.db-manage-contaniner .detail.minWd .col:hover, .db-manage-contaniner .detail.minWd .col.active {
  color: blue;
}
.db-manage-contaniner .detail.minWd .col dt {
  font-size: 1rem;
}
.db-manage-contaniner .detail.minWd .col:hover dd, .db-manage-contaniner .detail.minWd .col.active dd {
  font-weight: 900;
}

.dt-button-collection {
  padding: 0;
}
.dt-button-collection .export {
  display: none;
}
.dt-button-collection button {
  text-align: left;
  font-size: 90%;
  padding: 0.3rem 0 0.3rem 0rem;
  width: 100%;
}
.dt-button-collection button span {
  display: block;
  padding: 0.3rem 0 0.3rem 0.5rem;
}
.dt-button-collection button span:hover {
  font-weight: 900;
  background-color: var(--bs-gray-200);
}
.dt-button-collection button span:hover i.bi::before {
  animation: sidebarShake 0.3s infinite linear alternate;
}
.dt-button-collection button span.dt-down-arrow {
  display: none;
}
.dt-button-collection button.active span {
  background-color: var(--bs-gray-300);
}
.dt-button-collection .dt-btn-split-wrapper:active:not(.disabled) button,
.dt-button-collection .dt-btn-split-wrapper.active:not(.disabled) button {
  background-color: var(--bs-warning);
}
.dt-button-collection h3 {
  font-size: 1.3em;
}

@media screen and (max-width: 767px) {
  .sub-contents-wrap .dataTables_wrapper .dataTables_info {
    padding-top: 0.4em;
  }
  .sub-contents-wrap .dataTables_wrapper .dataTables_paginate {
    padding-top: 3em;
  }
}
@media screen and (max-width: 1400px) {
  .db-manage-contaniner .search-wrap .detail .col {
    width: auto;
  }
  .db-manage-contaniner .search-wrap .detail .col:nth-child(n+5) {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .sub-contents-wrap.eventmanage-container .dataTables_wrapper .dataTables_length {
    text-align: left;
    margin-top: 4rem;
  }
}
.filter-btn-wrap {
  text-align: center;
  border-top: 1px solid #c3c3c3;
  background: #e9e9e9;
  padding: 35px 10.4167vw;
}
.filter-btn-wrap .col:has(.btn-reset) {
  width: auto;
  padding: 0;
}
.filter-btn-wrap .col {
  flex: 0 0 auto;
  width: auto;
  padding: 0 30px;
  color: #929292;
  font-weight: 500;
}
.filter-btn-wrap .col dt {
  margin: 0 0 5px;
  font-size: 1.125rem;
  color: #2d2e34;
}
.filter-btn-wrap button.active {
  color: #ce1922;
  border-color: #ce1922;
}
.filter-btn-wrap button.alert {
  margin: 0;
}
.filter-btn-wrap button.alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}
.filter-btn-wrap .btn-primary {
  width: 115px;
  height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
  background: #ce1922;
}
.filter-btn-wrap .btn-reset {
  width: 115px;
  height: 52px;
  color: #fff;
  border-radius: 7px;
  background: #0d6efd;
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  text-align: left;
  line-height: 1.4;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #fff;
}
.form-control.active {
  color: #ce1922;
  border-color: #ce1922;
}
.form-control.alert {
  margin: 0;
}
.form-control.alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #ce1922;
}

.table-content {
  position: relative;
  padding: 30px 24px 50px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  background: #fff;
}

.client-list span {
  display: inline-block;
}

.none {
  appearance: none;
}

@media screen and (max-width: 1400px) {
  .filter-btn-wrap {
    padding: 35px 30px;
  }
}
.container-user-management .form-control {
  cursor: pointer;
}
.container-user-management .table {
  min-width: 1000px;
}
.container-user-management .btn-wrap {
  margin: 0 0 12px;
  width: auto;
}
.container-user-management .btn-wrap .btn {
  height: 40px;
  padding: 0;
  width: 100px;
  font-size: 0.813rem;
  line-height: 40px;
  border-radius: 14px;
}
.container-user-management .btn-wrap .btn-danger {
  --bs-btn-bg:#fff;
  --bs-btn-color:#dc3545;
}
.container-user-management .btn-wrap .btn-danger.active {
  color: #fff;
}
.container-user-management .btn-wrap input {
  appearance: none;
}
.container-user-management .row.filter-btn-wrap {
  width: 100%;
  margin-left: 0;
}

.container-user-management .modal-header {
  font-size: 1.15rem;
  border-bottom: 0px;
}
.container-user-management .modal-header h5.modal-title {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 1%;
}
.container-user-management .modal-header h5.modal-title i {
  font-size: 130%;
  margin-right: 3px;
}
.container-user-management .modal-header h5.modal-title .bi-person-fill::before {
  display: block;
}
.container-user-management .modal-body {
  padding-bottom: 0;
}
.container-user-management .modal-body table {
  min-width: unset !important;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  text-align: center;
}
.container-user-management .modal-body table thead th {
  background-color: #f7f7f7;
  border: 1px solid #d5d5d5;
}
.container-user-management .modal-body table tbody td {
  border: 1px solid #d5d5d5;
}
.container-user-management .modal-footer {
  border-top: 0px;
}

.account-container {
  margin: 0 auto;
}
.account-container .card {
  margin: 7% auto 0;
  --bs-card-border-color:transparent;
  --bs-card-bg:inherit;
  max-width: 500px;
}
.account-container .card-title {
  font-size: 1.5rem;
  margin: 2.5rem 0;
}
.account-container .card-body {
  padding: 0;
}
.account-container .btn-outline-primary {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 14px;
  height: 4.375rem;
  text-align: center;
  font-size: 1.25rem;
  --bs-btn-color:#ce1922;
  --bs-btn-border-color:#ce1922;
}
.account-container .btn-outline-primary:hover {
  --bs-btn-hover-bg:#ce1922;
  --bs-btn-hover-border-color:#ce1922;
}
.account-container .btn-outline-primary:active {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-bg);
}
.account-container form > div {
  transition: all linear 0.5s;
  transform: translateY(150%);
  visibility: hidden;
  transition: all linear 0.3s;
}
.account-container form > div.effect {
  transform: translateY(0%);
  visibility: visible;
}
.account-container form > div i {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 1.25rem;
  font-size: 1.5rem;
  width: 1.5rem;
  color: #787676;
}
.account-container form .form-control {
  width: 100%;
  height: 4.375rem;
  padding: 0 3.4rem;
  text-align: left;
  border-radius: 14px;
  border: 1px solid #c3c3c3;
  background-color: #ededed;
}
.account-container form .form-control:-webkit-autofill, .account-container form .form-control:-internal-autofill-selected {
  transition: background-color 5000s ease-in-out 0s;
}
.account-container form .form-check .form-check-input {
  margin-top: 0;
}
.account-container form .icon a {
  color: #787676;
}
.account-container form .icon a span.material-symbols-outlined {
  font-size: 130%;
  vertical-align: middle;
  padding-right: 0.25rem;
}
.account-container form .icon a:hover {
  font-weight: 900;
  transition: 0.2s;
}
.account-container form .icon a:hover span.material-symbols-outlined {
  transform: scale(1.4);
}

.myPage-container h1 {
  font-size: 180%;
  font-weight: bold;
}
.myPage-container .card .card-body dl {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
  align-items: center;
}
.myPage-container .card .card-body dt {
  margin-right: 0.5rem;
}
.myPage-container .card .card-body::after {
  content: "";
  display: block;
  clear: both;
}
.myPage-container button {
  float: right;
}

.user-nav p {
  display: none;
}

.modal .modal-header .modal-title:not(#disbursementModalLabel, #taxModalLabel) {
  animation: letterSpacing 0.7s linear alternate;
}
.modal .modal-header .modal-title:not(#disbursementModalLabel, #taxModalLabel) .bi-arrow-counterclockwise:active::before {
  transform: rotate(360deg);
  transition: all 0.5s;
}
.modal .modal-header .btn-close {
  transition: all 0.5s;
}
.modal .modal-header .btn-close:active {
  transform: rotate(360deg);
}

.agree-container {
  margin: 0 auto;
}
.agree-container .card {
  margin: 0 auto;
  --bs-card-border-color:transparent;
  --bs-card-bg:inherit;
  max-width: 500px;
}
.agree-container .card-title {
  font-size: 1.5rem;
  margin: 2.5rem 0;
}
.agree-container .card-body {
  padding: 0;
}
.agree-container button:has(input[name=chk_all]) {
  background-color: #ededed;
  border-radius: 14px;
  height: 4.375rem;
  padding: 5px;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 3.12rem;
  position: relative;
  transition: all 0.2s ease-out;
}
.agree-container button:has(input[name=chk_all]):hover {
  box-shadow: 5px 5px 15px #c3c3c3;
  transition: all 0.2s ease-out;
}
.agree-container button:has(input[name=chk_all]) input {
  width: 1px;
  height: 1px;
  position: absolute;
  right: 0;
  text-indent: -999px;
}
.agree-container button:has(input[name=chk_all]) input:checked + label {
  border-color: red;
}
.agree-container button:has(input[name=chk_all]) input:checked + label i.bi-check2::before {
  content: "\f26f";
  color: red;
}
.agree-container button:has(input[name=chk_all]) label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
  float: left;
}
.agree-container button:has(input[name=chk_all]) label:hover {
  animation: flash 2s infinite;
}
.agree-container button:has(input[name=chk_all]) label i {
  display: block;
  line-height: 1.2;
  height: 100%;
}
.agree-container .agree-box {
  margin: 0 auto;
  position: relative;
}
.agree-container .agree-box h2 {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.agree-container .agree-box h2 span {
  color: #ce1922;
}
.agree-container .agree-box input {
  width: 1px;
  height: 1px;
  position: absolute;
  right: 0;
  text-indent: -999px;
}
.agree-container .agree-box input:checked + label {
  border-color: red;
}
.agree-container .agree-box input:checked + label i.bi-check2::before {
  content: "\f26f";
  color: red;
}
.agree-container .agree-box label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}
.agree-container .agree-box label:hover {
  animation: flash 2s infinite;
}
.agree-container .agree-box label i {
  display: block;
  line-height: 1.2;
  height: 100%;
}
.agree-container textarea {
  border: 1px solid #c3c3c3;
  color: #929292;
  background-color: inherit;
  overflow-y: auto;
  border-radius: 8px;
  width: 100%;
  height: 9.37rem;
  margin: 1.5rem auto;
  font-size: 90%;
  line-height: 1.4;
}
.agree-container .row:has(a.confirm_agree) {
  margin: 0;
}
.agree-container .row:has(a.confirm_agree) a.confirm_agree {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 14px;
  height: 4.375rem;
  line-height: 4.375rem;
  text-align: center;
  background-color: #ce1922;
  font-size: 1.25rem;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .agree-container .agree-box label i {
    line-height: 1.5;
  }
}
.siteMap-container .sitemap-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.siteMap-container .sitemap-wrap::after {
  display: block;
  content: "";
  position: absolute;
  top: 4%;
  left: 50%;
  width: 2px;
  height: 92%;
  background-color: #ce1922;
}
.siteMap-container .section + .section {
  margin: 0;
}
.siteMap-container .section {
  width: 48%;
  padding: 5px;
}
.siteMap-container .section:nth-child(odd) {
  margin: 3rem 2% 3rem 0;
}
.siteMap-container .section:nth-child(even) {
  margin: 3rem 0 3rem 2%;
}
.siteMap-container .section .content-title::after {
  display: none;
}
.siteMap-container .client-list .row .col {
  width: 25%;
}
.siteMap-container .client-list .row .col button {
  transition: all linear 0.2s;
}
.siteMap-container .client-list .row .col button:hover {
  background-color: #ce1922;
  color: #fff;
  border-color: transparent;
  transition: all linear 0.2s;
}
.siteMap-container .client-list .row .col button:hover a {
  color: inherit;
}
.siteMap-container .client-list .row .col button a {
  display: block;
}

@media screen and (max-width: 500px) {
  .siteMap-container .client-list .row .col {
    width: 50%;
  }
  .siteMap-container .client-list .row .col button {
    padding: 0.6rem 0.7rem;
    font-size: 90%;
  }
}

/*# sourceMappingURL=ui.css.map */
