@font-face {
  font-family: "NanumSquareNeo";
  src: url("/css/fonts/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.2;
  color: #2d2e34;
}

a {
  color: inherit;
  text-decoration: none;
}

hr, caption, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, img {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol, li {
  list-style: none;
}

table {
  clear: both;
  width: 100%;
  border-spacing: 0;
  border: 0;
}

p, div, th, td {
  font-size: 100%;
}

dfn, address {
  font-style: normal;
}

img, input, select, textarea {
  vertical-align: middle;
}

input, select, button {
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 100%;
}

textarea {
  font-family: "NanumSquareNeo", "Noto Sans", dotum, Gulim, sans-serif;
  font-size: 100%;
  resize: none;
  border-radius: 0;
  appearance: none;
}

input[type=submit], button {
  cursor: pointer;
}

button {
  color: inherit;
  border: 0;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input {
  outline: none;
}

textarea {
  box-sizing: border-box;
  padding: 20px;
  color: #222;
  border: 1px solid #ddd;
}

textarea:focus {
  border: 1px solid #222;
  outline: none;
}

select {
  appearance: none;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

body {
  background: #f7f7f7;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  box-sizing: border-box;
  padding: 42px 0;
  border-radius: 0 0 40px 0;
  background: #2d2e34;
}
.left-side .logo {
  margin: 0 auto 40px;
}

.nav {
  flex: 1;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.nav > li {
  position: relative;
  margin: 0 0 30px;
  padding: 15px 0 0 10px;
  font-size: 17px;
  transition: all 0.2s;
}
.nav button {
  display: block;
  padding: 0 0 0 33px;
  color: #fff;
}
.nav .btn-toggle-nav {
  padding: 18px 0 0;
}
.nav .btn-toggle-nav li {
  margin: 0 0 12px 32px;
}
.nav .btn-toggle-nav a {
  position: relative;
  display: inline-block;
  padding: 0 0 2px 10px;
  font-size: 14px;
  color: #929292;
}
.nav .btn-toggle-nav .active {
  color: #ce1922;
  border-bottom: 2px solid #e58489;
}
.nav .btn-toggle-nav .active:before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  content: "";
  border-radius: 50%;
  background: #ce1922;
}

.util-nav {
  display: flex;
  margin: 0 38px;
  justify-content: space-between;
}
.util-nav a {
  font-size: 13px;
  color: #aaa;
}

.contents-wrap {
  flex: 1;
  padding: 80px 6.7708vw;
}

.ad-list .row {
  margin: 0;
  text-align: left;
}
.ad-list .row:not(:first-child) {
  margin-top: 24px;
}
.ad-list .type {
  flex: 1;
  margin-right: 12px;
  padding: 35px 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background: #fff;
}
.ad-list .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  color: #fff;
  border-radius: 10px;
  background: #2d2e34;
}
.ad-list .btn-more span {
  padding: 30px 0 0;
  background: url("/img/ico_arrow.png") no-repeat center 0;
}
.ad-list .btn-primary {
  background: #ce1922;
}
.ad-list .summary {
  display: flex;
  margin: 0 0 24px;
}
.ad-list .summary strong {
  min-width: 210px;
  margin: 0 45px 0 0;
  font-size: 28px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-list .summary i {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px 0 0;
  vertical-align: top;
}
.ad-list .summary .facebook {
  background: url("/img/ico_facebook.png") no-repeat center 0;
}
.ad-list .summary .kakao {
  background: url("/img/ico_kakao.png") no-repeat center 0;
}
.ad-list .summary .google {
  background: url("/img/ico_google.png") no-repeat center 0;
}
.ad-list .summary dl {
  display: flex;
  align-items: center;
  margin: 0 45px 0 0;
}
.ad-list .summary dt {
  margin: 0 6px 0 0;
  font-size: 16px;
}
.ad-list .summary dd {
  font-size: 28px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}
.ad-list .summary .percentage dd {
  color: #ce1922;
}
.ad-list .detail {
  display: flex;
}
.ad-list .detail dl {
  box-sizing: border-box;
  margin: 0 22px 0 0;
  padding: 7px 10px;
  text-align: left;
  background: #f2f2f2;
}
.ad-list .detail dd {
  margin: 8px 0 0;
  color: #929292;
}

/*# sourceMappingURL=ui.css.map */
