@import 'zenith/_var',
        'zenith/_reset', 
        'zenith/_layout', 
        'zenith/_sub',
        'zenith/_table',
        'zenith/_modal';          
    

//font
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
        