.siteMap-container{
    .sitemap-wrap{display: flex; flex-wrap:wrap; position: relative;
        &::after{display: block; content: ''; position: absolute; top:4%; left: 50%; width: 2px; height: 92%; background-color: #ce1922;}
    }
    
    .section + .section{margin:0;}
    .section{width:48%; padding:5px;
        &:nth-child(odd){margin:3rem 2% 3rem 0;}
        &:nth-child(even){margin:3rem 0 3rem 2%;}

        .content-title::after{display: none;}
    }
    

    .client-list .row .col{width:25%;
        button{ transition:all linear 0.2s; 
            &:hover{background-color: #ce1922; color: #fff; border-color: transparent; transition:all linear 0.2s;   
                a{color:inherit;}
            }
            a{display: block;}
        }
    }   
}

@include mobile-500{
    .siteMap-container{
        .client-list .row .col{width:50%;}
        .client-list .row .col button{padding:0.6rem 0.7rem; font-size:90%;}
    }
}