@mixin a-arrow() {
    display: block; text-decoration: none; color:#ccc; outline: none;
}
@mixin btn-close() {
    background-color: transparent; outline: none; cursor: pointer; border:none; position:relative; 
}

@mixin hover($bgc:#d3d4d6, $num:50%, $per:120%){
    &:hover::after{position:absolute; width: $per; height:$per; background-color: $bgc; display: block; content: ''; top:50%; left:50%; border-radius:$num; transform:translate(-50%, -50%); z-index:-1;}
}
.flex-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*reset style*/
body {
    padding:0;
    margin:0;
}
ol, ul{
    list-style:none;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}

.exam-container-wrap{
    width:100%;
    
    .header-top{  
        padding:10px 0;
        border-bottom:2px solid red;
        

        a.button {
            @include a-arrow();
            font-size: 90%;

            i {
                margin-right:10px;
            }
        } 
        .device {
            i {
                display:block; width:20px; height:20px; margin:0 10px; position:relative; font-size:140%; text-align: center; color:#929599;

                @include hover($per:200%);
            }
        }
        .gnb-btn {   
            i.fa-github{
                @include btn-close();
                @include hover($num:10px,$per:200%);

                color:#929599;
            } 
            a.button {
                @extend .button; 
                color: #de554c;
                background-color: #f0e3e7;
                padding:2% 0;
                border-radius: 5px;
                font-size:80%;
                margin:0 10px;

                i {
                    margin:0 10px; text-align:center;

                    &::before {
                        margin-right:7px;
                    }
                }
            }

            button.close{
                @include btn-close();
                @include hover();
                i {
                    &::before {
                        color:#929599;
                    }
                }                
            }   
        }  
    }

    nav{   
        padding:10px;
        background-color: #000;
        h6 {
            color:#fff;
            margin:0;
        } 
        .nav-tabs {    
            a {
                font-size: 14px;
                display: block;
                margin: 0 5px;
                color: #7f9598;

                &:visited {
                    color: #fff;
                }
            }

        }
        
    }

    main {
        padding-top:20px;

        .con-01 {
            min-height:200px;
            .img{
                padding:0 3% 0 0;
            }
            img{
                display: block;
                width:100%;
            }  
            @extend .flex-layout;
            flex-wrap:wrap;
        }
        .banner {
            border-radius:5px;
            background-color: #6c757d;
            padding:30px;
            color:#fff;
            margin:40px 0;

            p {
                margin: 0;
            }
        }
    }

    @media screen and (max-width: 500px){
        main {
            .con-01{
                text-align: center;

                .img{
                    padding:0;
                    margin-bottom:1rem;
                }
            }
        }
    }
}



.flex-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exam-wrap {
    padding:4% 5%;
    
    .row {
        background-color: #fff;
    }
}

.features-container-wrap {       
    main {
        article{            
            .nav_bar {
                border-bottom: 1px solid #ccc;
            }
            
            .featured-card {
                .icon{

                }                
                a {
                    text-decoration: underline;
                    display: inline-block;
                    color: var(--bs-link-hover-color);
                    padding-top:5%;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 0.4rem;
                    }
                }
            }
    
            .heading-card {
                .card-containner {                   
                    @extend .flex-layout;
                    align-items:start;

                    .icon {
                        padding:2%;
                        border-radius: 10px; 
                        background-color:#f8f9fa;

                        i {      
                            font-size:200%;  
                        }
                    } 
                    
                    // button {
                    //     padding-top:4%;
                    // }
                }
            }  

            .custom-card {   
                color: #fff;
                display: flex;
                justify-content: space-between;

                .card {                  
                    border-radius: 20px;
                    background: black;                   
                    text-align: center;
                    width: 32%;
                    flex-direction: column;

                    h1{
                        font-weight: 900;
                        font-size:2.5rem;
                        margin: 100px auto 100px;
                        line-height: 1.3;
                    }

                    ul.icon {   
                        display: flex;
                        width:70%;
                        margin:0 auto;

                        li {                            
                            i{ 
                                width:30px;
                                height: 30px;
                                display: block;    
                            }
                            &:nth-of-type(1) {
                                flex:2;
                                i{                                  
                                    background:url(https://avatars.githubusercontent.com/u/2918581?v=4);
                                    background-size:contain;   
                                }
                            }
                        }
                    }
                }
            }

            .icon_grid {
                .card-containner {                   
                    @extend .flex-layout;
                    align-items:start;

                    .icon {
                        padding:2%;

                        i {      
                            font-size:200%;  
                        }
                    } 
                }
            }  
        }
        // 공통 css
        .underline {
            background-color: #ccc;
            box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
        }
        .card {       
            --bs-card-border-color:transparent; //부트스트랩 css 변수값 변경        
            h2 {
                font-size:35px;
                padding:4% 0;
            }    

            h3 {
                font-size:25px;
            }
        } 
    }
}

