@mixin underline-effect($bg:red){
    &:hover::after{position:absolute; bottom:-5px; left:0%; content: ''; width:100%; height:2px; background-color:$bg; transition:0.2s; animation: hover-line 0.2s linear;}
}
@mixin dot-effect {position:relative;                   
    &:hover::before{position:absolute; top:-5px; left:47%; content: ''; width:4px; height:4px; background-color: red; transition:0.2s; border-radius: 50%;}
}

.sub-contents-wrap{
    .btns-memo-style{
        button{
            &:hover{
                i.bi::before{animation:sidebarShake 0.3s infinite linear alternate;}
            }            
        }
    }

    .dataTables_wrapper{  
        .dt-buttons{z-index:1; text-align: left; margin-bottom:1rem;
            i.bi-list{color:$red; transition:all 0.3s; font-size:150%;
                &:hover::before{animation:rotate-turn 0.3s infinite linear alternate;}
            }
        }
        .paging{padding-top:1.755em; position:sticky; bottom:0; background-color:#f7f7f7;}      

        .dataTables_length{margin-bottom:2rem;
            select{background-color:#fff; padding:0.2rem 1rem; border-radius:4px; border:1px dashed $red;}
        }
    
        .dataTables_info{float:unset; position: absolute; right:0;  padding-top:1.755em; transition:all 0.5s; cursor:pointer;
            i.bi{color:$red; padding-right:6px; font-size:110%; display: inline-block; vertical-align: top;}
            .txt-info{display:inline-block;
                span{color:#878787; position:relative;
                    &:hover{font-weight:900;
                    }
                    @include underline-effect($bg:#878787);
                }
            }           
        }
    
        .dataTables_paginate{float:unset; text-align: center; padding-top:1.755em; padding-bottom:1.755em;
            .paginate_button{border:none; padding:0.25rem 0.5rem;
                &.disabled,
                &.disabled:hover{color:#aaa !important;}

                &:hover{color:$red !important; border:none; background:none; transition:0.2s;}
                &:not(.previous,.next,.current){@include dot-effect;
                    @include underline-effect;
                }
                &.current{
                    color:#fff !important; background-color:$red; border:none; padding:0.2rem 1rem; border-radius:4px;
                    &:hover{color:#fff !important; background-color:$red; border:none;}
                } 
                &:active{background:none; border:none;}
            }            
        }    

        table.dataTable{ 
            thead tr{
                th,td{text-align: center;}
                .sorting_asc:before,.sorting_desc:after{color:chartreuse; opacity:1;}  
            }   
            tbody tr{background-color:#fff;}    
            tfoot tr{
                th,td{text-align: center;}
            } 
            textarea.consultation{padding:0px; width:100%; border:none; background:transparent;}
            select.data-del{padding:3px; border-radius:4px; font-size:98%; letter-spacing:-1px;}
            button.save{background-color:#009dff; color:#fff;  margin-top:0.25rem; padding:0.4rem 1rem; border-radius:4px;}
            button.delete{background-color:#000; color:#fff; margin-top:0.25rem; padding:0.4rem 1rem; border-radius:4px; transition:0.5s;   
                &:hover{box-shadow:inset 0 -3em 0 0 $red;}   
            }
        
            .check > label{display:block; margin:5px auto; cursor:pointer;
                i{display:inline-block; width:28px; height:28px;}
                .facebook{@include bg('ico_facebook.png', center, 0);}
                .kakao{@include bg('ico_kakao.png', center, 0);}
                .google{@include bg('ico_google.png', center, 0);} 
            }
        }
    }   
}

.db-manage-contaniner{
    .search-wrap{border-radius: 10px; overflow:auto;}          

    .detail.minWd{flex-wrap: wrap; min-width:1000px;  
        .col{padding: 0; flex: 1 0 auto; cursor:pointer;
            &:hover, &.active{color:$red;}
            dt{font-size: 1rem;}
            &:hover,&.active{
                dd{font-weight:900;}
            }
        }        
    }
}

.dt-button-collection{padding:0;    
    .export{display: none;}
    button{text-align: left; font-size:90%; padding:0.3rem 0 0.3rem 0rem; width:100%;          
        span{display: block; padding:0.3rem 0 0.3rem 0.5rem;
            &:hover{font-weight: 900; background-color: var(--bs-gray-200);
                i.bi::before{animation:sidebarShake 0.3s infinite linear alternate;}
            }            
        }
        span.dt-down-arrow{display:none;}
        &.active span{background-color: var(--bs-gray-300);
        } 
    } 
    .dt-btn-split-wrapper:active:not(.disabled) button,
    .dt-btn-split-wrapper.active:not(.disabled) button{background-color:var(--bs-warning);}
    h3{font-size: 1.3em;}
}

@media screen and (max-width: 767px){
    .sub-contents-wrap{
        .dataTables_wrapper{
            .dataTables_info{padding-top:0.4em;}
            .dataTables_paginate{padding-top:2em;}
        }
    }    
}

@include x-large{ //sub.scss
    .db-manage-contaniner{
        .search-wrap{
            .detail{
                .col{width:auto;
                    &:nth-child(n+5){margin-top:0;}
                }
            }
        }
    }   
}