.sub-contents-wrap{
    .dataTables_wrapper{max-height:600px;
        .dataTables_length{margin-bottom:2rem;}
        .dataTables_length select{background-color:#fff; padding:0.4rem 1rem;}
    
        .dataTables_info{padding-top:2.755em;}

        .dataTables_paginate{float:unset; text-align: center; padding-top:2.25em;  padding-bottom:2.25em;
            .paginate_button{border:none;
                &.disabled,
                &.disabled:hover{color:#aaa !important;}

                &:hover{color:red !important; border:none; background:none; transition:0.2s;}
                &:not(.previous,.next){position:relative;
                    &:hover::after{position:absolute; top:-5px; left:47%; content: ''; width:5px; height:5px; border-radius:50%; background-color: red; transition:0.2s;}
                }
                &.current{
                    color:#fff !important; background-color:red; border:none;
                    &:hover{color:red !important; background:none; box-shadow:none; border:none;}
                } 
                &:active{background:none; border:none;}
            }            
        }
        table.dataTable{
            tbody tr{background-color:#fff;}
            textarea.consultation{padding:0px; width:100%; border:none; background:transparent;}
            select.data-del{padding:3px; border-radius:4px;}
            button.save{background-color:#009dff; color:#fff;  margin-top:0.25rem; padding:4px 17px; border-radius:4px;}
            button.delete{background-color:#000; color:#fff; margin-top:0.25rem; padding:4px 17px; border-radius:4px; transition:0.2s;
                &:hover{background-color:red;}
            }
        }
    }
}

@media screen and (max-width: 767px){
    .sub-contents-wrap{
        .dataTables_wrapper{
            .dataTables_info{padding-top: 1.755em;}
            .dataTables_paginate{padding-top:1.25em;}
        }
    }    
}
